<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title class="uni" id="custom_ion_title">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-row style="padding-left: 10px; padding-right: 10px; padding-top: 5px;">
    <ion-col col-10>
      <ion-input type="text" [(ngModel)]="keyword" style="border: 1px solid #eee; border-radius:  10px;"></ion-input>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-end (click)="searchKeyword()"  style="border-radius: 10px !important;
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;">
        <ion-icon name="search" style="padding-left: 0px !important;"></ion-icon>
      </button>
    </ion-col>
  </ion-row> -->

  <!-- 0 is no pdf found! msg -->
  <ion-row *ngIf="nores == '0'" class="uni">
    <ion-col>
      <div align="center">
        <h3 style="padding: 50px; color: #ccc;">
          <span>{{textData[4]}}</span>
        </h3>
      </div>
    </ion-col>
  </ion-row>
  <!-- 1 is show pdf list to user -->
  <!-- <ion-row style="padding-right: 10px; padding-left: 10px;" *ngIf="nores == '1'" class="uni">
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let p of pdfList" tappable (click)="openPDF(p)">
          <ion-avatar item-left>
            <img src="assets/pdf.png">
          </ion-avatar>

          <p style="padding-left: 5px;">{{p.name}}</p>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row> -->
  <!-- 2 is show folders (laws and forms) and msg (Under Development and Testing only) to user -->
  <ion-row style="padding-right: 10px; padding-left: 10px;" *ngIf="nores == '2'">
    <ion-col>
      <ion-list *ngFor="let type of typeList" style="margin-bottom: 5px;">
        <ion-item tappable (click)="goPage(type.caption)" style="padding: 5px 10px 5px 10px;" detail-push>
          <ion-avatar item-left style="padding: 5px;">
            <img src="assets/tran-his.png">
          </ion-avatar>

          <p style="padding-left: 5px;">{{type.caption}}</p>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <!-- <ion-row style="padding-right: 5px; padding-left: 5px;" *ngIf="nores == '2'">
    <ion-col>
      <ion-card style="padding: 200px 60px 0px 60px;">
        <div style="font-size: 0.8em; color: white; background-color: #832b33; border-radius: 10px;">
          <div align="center" style="padding: 10px;">
            <span class="uni">Under Development and Testing only</span>
          </div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row> -->
</ion-content>
