<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <!-- <ion-icon name="menu"></ion-icon> -->
    </button>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-list radio-group [(ngModel)]="chooseLanguage">
      <ion-item no-lines>
        <ion-label>
          <img src="./assets/language/eng.png" class="flag-img" />
          <span class="uni" style="margin-left: 5%;margin-top: 10%;">{{textData[1]}}</span>
        </ion-label>
        <ion-radio value="eng" tappable (ionSelect)="mcqAnswer('eng')"></ion-radio>
      </ion-item>

      <ion-item no-lines>
        <ion-label>
          <img src="./assets/language/myan.png" class="flag-img" />
          <span class="uni" style="margin-left: 5%;margin-top: 10%;">{{textData[2]}}</span>
        </ion-label>
        <ion-radio value="myan" tappable (ionSelect)="mcqAnswer('myan')"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>