page-language {
  .page-content {
    background-image: url('../assets/bg3.jpg') !important;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  ion-list {
    ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;
    }
    ion-label {
      div {
        text-transform: none;
        font-size: 0.8em;
        padding: 1em 0;
        white-space: normal;
        text-align: justify;
      }
    }
    ion-icon  {
      font-size: 1.8rem;
      padding: 0;
      text-align: center;
      position: absolute;
      right: 10px;
      top: 3px;
      &:before {
        font-weight: bold;
      }
    }
  }
  .list-md {
    margin: 0px 0 0px 0;
  }

  .ion-md-add {
    content: url("../assets/tabs/eng.png") !important;
    font-size: 0.1rem !important;
    width:20%;
    height:0%;
} 

.ion-md-add-circle
{
    content: url("../assets/tabs/myanmar.png") !important;
    font-size: 0.1rem !important;
    width: 20%;
    height:0%;
} 

.flag-img {
  width: 10%;
  float: left;
  border-radius: 5px;
}

.lan-img {
  width: 7%;
  float: right;
  margin-top: 6px;
}

#ion_card_setting {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
}
}
