page-onlycomment {
    
    .resize {
    height: 200px;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }
  .video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 5px;
  }
  .play, .pause{
    background:rgba(0,0,0,0.7);
    border:0px;
    color:#fff;
    border-radius: 100%;
    height:40px;
    width:40px;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    //height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
    width: 120px;
  }
  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;

    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px #EB6640;
      border-style: solid;
    }
  }
  .list-md {
    margin: -1px 0 10px 0;
  }
  .label-md {
    margin: 0px 0px 0px 0;
  }
  .label-ios{
    margin: 0px 0px 0px 0;
  }
  .item-md{
    padding-left: 8px;
  }

}
