<!--
  Generated template for the AccountJoinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>account-join</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#F5F5F5;">
    <ion-card >
      <!-- <ion-icon ios="ios-add" md="md-add" item-left color="mwallet"></ion-icon>   -->    
      <ion-row style="padding-left: 15px; padding-right: 15px;">
        <ion-col>
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating> <span class="uni">{{textData[1]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="obj.account" class="uni"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div *ngIf="errormsg!=''" align="center" style="color: red;">{{errormsg}}</div>

      <div align="center" style="padding-top: 40px; padding-bottom: 30px;">
        <button color="mwalletbtn" ion-button tappable (click)="goNext()">{{textData[2]}}</button>
      </div>
    </ion-card>
</ion-content>
