<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-buttons end>
      <button ion-button icon-only tappable (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title id="custom_ion_title" class="uni">QR</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding> 
    <ion-label align="center"  style="font-size:16px;font-weight:450;padding:1px;" >{{userValue.name}}({{userValue.userID}})</ion-label>
    <ion-label align="center" style="font-size:16px;font-weight:400;padding:1px;">
      Add contact with QR scan
    </ion-label>
  <div align="center">
    <qr-code [value]="dataValue" [size]="200"></qr-code>
  </div>
  <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
    <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="scanQR()">SCAN QR</button>
  </div>
</ion-content>