page-login {
  #resize {
    width: 50% !important;
    border-radius: 10px !important;
  }
  .vertical-align-content>* {
    display: flex !important;
    align-items: center !important;
  }
  .item-inner {
    border-bottom: 1px solid #dedede !important;
  } 

  @media only screen and (min-device-width: 500px) {
    // default iPad screens 
    //.ion-font {
     // font-size: 30px;
    //}
  } 
  
  @media screen and (min-width: 800px) {
    .uni {
      font-size: 30px;
      font-family: Unicode;
   }
  }
  
  @media screen and (min-device-width: 501px) and (max-device-width: 768px) {
    .uni {
      font-size: 20px;
      font-family: Unicode;
   }
  }
  
  @media only screen and (max-device-width: 480px) {
    /* STYLES HERE */
  }

  .text-input {
    margin: 0px !important;
    padding: 0 !important;
    width: calc(100% - 8px - 8px) !important;
  }

  .rowBorder{
    background-color: white;
            border-color:lightgray;
            border-style: solid;
            border-top-width: 2px;
            border-bottom-width: 2px;
            border-left-width: 2px;
            border-right-width: 2px;
  }

  .box{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 9px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}




}
