<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>      
      <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-row style="padding-left: 15px; padding-right: 15px;">
        <ion-col>
          <div align="center" style="padding-top: 2px;">
            <img src="assets/billpay.png">
          </div>
          <ion-list>
            <ion-item style="border-bottom: 1px solid gray !important;">
              <ion-label floating>
                <span class="uni">{{textData[3]}}</span>
              </ion-label>
              <ion-input type="text" [(ngModel)]="_obj.beneficiaryID"  disabled = "false" (keyup)="onChange($event,_obj.beneficiaryID)"  class="zg"></ion-input>
            </ion-item>
  
            <ion-item style="border-bottom: 1px solid gray !important;">
              <ion-label floating>
                <span class="uni">{{textData[1]}}</span>
              </ion-label>
              <ion-input type="text" [(ngModel)]="_obj.toName" class="zg" disabled = "false"></ion-input>
            </ion-item>
  
            <ion-item *ngIf="readOnly==1" style="border-bottom: 1px solid gray !important;">
              <ion-label floating>
                <span class="uni">{{textData[5]}}</span>
              </ion-label>
              <ion-input type="number" pattern="[0-9]*" readonly="true" [(ngModel)]="_obj.amount"></ion-input>
            </ion-item>
            <ion-item *ngIf="readOnly==0" pattern="[0-9]*" style="border-bottom: 1px solid gray !important;">
              <ion-label floating>
                <span class="uni">{{textData[5]}}</span>
              </ion-label>
              <ion-input type="number" [(ngModel)]="_obj.amount"></ion-input>
            </ion-item>
  
            <ion-item style="border-bottom: 1px solid gray !important;">
              <ion-label floating>
                <span class="uni">{{textData[14]}}</span>
              </ion-label>
              <ion-input type="text" [(ngModel)]="_obj.remark" class="zg"></ion-input>
            </ion-item>
  
            <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
              <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="goNext()">{{textData[10] }}</button>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>
  