<ion-header>
        <ion-navbar style="text-align: center;" >
            <!-- <ion-title id="custom_ion_title"  class="uni" *ngIf="locationType == 'Cash Out'">{{showFont[4]}}</ion-title>  
            <ion-title id="custom_ion_title"  class="uni" *ngIf="locationType == 'Cash In'">{{showFont[3]}}</ion-title>   -->
            <ion-title id="custom_ion_title"  class="uni">{{showFont[5]}}</ion-title>
            <ion-buttons end >
                <!-- <button  style="width: 15%;" ion-button icon-only tappable (click)="goScan()">
                    <ion-icon name="qr-scanner"></ion-icon>
                </button> -->
                            
                <button style="width: 15%;" ion-button icon-only tappable (click)="nearby()">                
                  <img src="assets/googlemap.png" id="resize" />
                </button>
            </ion-buttons>      
        </ion-navbar>
    </ion-header>
    
    <ion-content mode="md" scroll="false" style="background-color:#ebf5f3;">
        <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
        <ion-toolbar mode="md" >
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                            <ion-searchbar style="margin-left:0px;" [(ngModel)]="searchkey"
                            (keyup)="searchUser($event)" (ionClear)="onInputClear($event)" ></ion-searchbar>
                    </ion-col>
                
                </ion-row>
            </ion-grid>
        </ion-toolbar>
            <div>
                <ion-scroll style="width:100%;height:80vh;" scrollY="true"> 
                        <ion-item class="uni" *ngFor="let data of tempList" > 
                            <h3 style="font-weight: bold; padding-left: 5px;margin-top:0px;margin-bottom:0px;" (click)=" getloaction(data)"> {{data.name}}</h3>
                            <p style="padding-left: 5px; display: inline-block; font-size: 1.2rem;vertical-align: text-top;">{{data.phone1}}</p>
                            <p item-right><ion-icon  name="ios-call" style="color:#434eb2;font-size: 1.8em;" (click)="getcallnumber(data.phone1)"></ion-icon></p> 

                        </ion-item>
                </ion-scroll> 
            </div> 
            <!-- <div *ngIf="locationType == 'Cash In'">
                <ion-scroll style="width:100%;height:80vh;" scrollY="true"> 
                        <ion-item class="uni" *ngFor="let data of tempList" style="margin-top:2px;margin-bottom:2px;" > 
                            <h3 style="font-weight: bold; padding-left: 5px;" (click)=" getloaction(data)"> {{data.name}}</h3>
                            <p style="padding-left: 5px; display: inline-block; font-size: 1.2rem; vertical-align: text-top;" (click)="getloaction(data)">
                                   {{data.phone1}}</p>
                            <p item-right><ion-icon name="ios-call" style="width: 100% !important;color:#434eb2;font-size: 1.9em;" (click)="getcallnumber(data.phone1)"></ion-icon></p>
                        </ion-item>
                </ion-scroll> 
            </div> -->
            <div *ngIf="status == 0" align="center">
                    <ion-card id="ion_card_bg_setting">
                        <h3 style="padding:50px;color:#ccc;" class="uni"> No result found!</h3>
                    </ion-card>
            </div>
        
    </ion-content>
    
    
    