page-new-shop {
    //combo box
    .select-md .select-icon {
        position: absolute;
        width: 0px;
        height: 30px;
        left: 200px;
    }
    //for searchbar rounded
    // ion-searchbar {   //psst 8.8
    //     .searchbar-input-container {
    //         .searchbar-input {
    //             border-radius: 20px;
    //         }
    //     }
    // }
    // ion-toolbar {
    //     border-radius: 20px;
    // }
    .imgCenter {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: lightgray;
    }
    ion-col div {
        background-color: #f0f5ff;
        border: 1px solid #e6e9ee;
        // background-color: #cfebfd;
        // border: 1px solid #43677d;  
        border-radius: 2px;
        padding: 5px;
        text-align: center;
    }
   
    .scroll {
        height: 81%;
        overflow-y: scroll;
        display: block;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .scroll-content{
        margin-left:-11px;
        margin-right:-10px
    }
}