<!--
  Generated template for the NewShopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <!-- <ion-title id="custom_ion_title">
            <span class="{{font}}">{{textdata[0]}}</span>
        </ion-title> -->
        <ion-title id="custom_ion_title"  class="uni" >{{textdata[0]}}</ion-title>  
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
        <!-- <ion-searchbar placeholder="Search" (search)="getItems($event)" (ionCancel)="onCancelSearch($event)">
        </ion-searchbar> -->
        <ion-searchbar placeholder="Search" (ionInput)="getItems($event)">
        </ion-searchbar>
    </ion-toolbar>
    <ion-item>
        <ion-label floating>
            <span class="{{font}}">{{textdata[2]}}</span>
        </ion-label>
        <ion-select [(ngModel)]="defaultreg.RegionRefSyskey" (ionChange)="onSelectChange($event)" interface="popover">
            <ion-option *ngFor="let regLst of regionList" [value]="regLst.regionRefSyskey">{{regLst.description}} </ion-option>
        </ion-select>
    </ion-item>
    <div class="scroll" *ngIf="global.PersonData.shopDataList.shopdata.length>0">
        <!--  origin 6.8.18
            <ion-list *ngFor="let shop of PersonData.shopDataList.shopdata">
            <ion-card class="center" tappable (click)="move(shop)"> -->
        <ion-card class="center" *ngFor="let shop of global.PersonData.shopDataList.shopdata" tappable (click)="move(shop)">
            <ion-card-content>
                <ion-row align-items-center>
                    <ion-col col-5>
                        <ion-thumbnail item-start>
                            <img src="{{this.ipPhoto + shop.outletImagePath}}" style=" width: 70%;">
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col>
                        <p>
                            <B> {{shop.outletName}}</B>
                            <br> {{shop.outletCurrentAddressHomeNo}}&mdash; {{shop.outletCurrentAddressStreet}}
                            <br> {{shop.outletCurrentAddressTownship}}
                            <br> {{shop.outletCurrentAddressRegion}}
                        </p>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
    <!-- <div class="Nodata" *ngIf="!global.PersonData.shopDataList.shopdata.length>0">
        <span class="{{font}}"><b> {{textdata[1]}}</b></span>
    </div> -->
</ion-content>