<ion-content>
  <ion-list style="margin-bottom:0px;" *ngIf="show=='yes'">
    <ion-item no-lines *ngFor="let d of popoverItemList" (click)="getAccess(d.key)">
      {{d.name}}
    </ion-item>
  </ion-list>
</ion-content>
