<!--
  Generated template for the Registertype page.
 
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="mwallet">
    <ion-title>
      <!--<ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>-->
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="vertical-align-content">
  <ion-card style="box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.14);">
    <ion-row align-items-center>
      <ion-col>
        <div>
          <div align="center" style="padding-top: 15%">
            <img src="assets/logo_small.png" id="resize" />
          </div>
          <div style="padding: 15% 10% 17% 5%;">
            <ion-item align="center">
              <ion-input cursor type="text" class="{{font}}" placeholder="{{textdata[0]}}" [(ngModel)]="loginData.userph" (keyup)="onChange($event,loginData.userph)"></ion-input>
            </ion-item>
          </div>
          <div style="color: red; padding-bottom: 3%" align="center">{{errormsg}}</div>
          <div class="{{font}}" style="padding-bottom: 15%" align="center">
            <button ion-fab color="mwalletbtn" class="fab-map" tappable (click)="onLogin()">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>