page-Login {
 
  #custom_items {
    border-radius: 50px;
    background-color: white;
    width: 74%;
    border: 1px solid #5a5a5a;
  }

  #custom_input {
    padding-left: 10%;
    padding-right: 10%;
  }

  .resize {
    height: auto;
    width: auto;
    max-width:50%;
    max-height: 100%; // TCB
    display: inline-block;
    margin-right: auto;
  }

  .input-cover{position: static}

  //psst test 19.7.18
  .card-md {
    margin: 20px;
    border-radius: 5px;
    }

   //psst test for not move cover login
    #resize {
    width: 30% !important;
    border-radius: 10px !important;
  }
  .vertical-align-content>* {
    display: flex !important;
    align-items: center !important;
  }
  .item-inner {
    border-bottom: 1px solid #dedede !important;
  }
    



}
