<ion-header>
    <ion-navbar color="mwallet">

        <ion-buttons left>
            <button ion-button icon-only tappable (click)="gobackmain()">
                <ion-icon>
                    <img src="assets/back-arrow.png" style="width: 50%; height: 50%;" />
                </ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <span class="{{font}}"> {{textdata[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="scroll">
        <ion-list *ngFor="let shop of global.PersonData.shopDataList.shopdata">
            <ion-card class="center" tappable (click)="next(shop)">
                <ion-card-content>
                    <ion-row align-items-center>
                        <ion-col col-5>
                            <ion-thumbnail item-start>
                                <img src="{{this.ipPhoto + shop.outletImagePath}}" style="width: 70%;">
                            </ion-thumbnail>
                        </ion-col>
                        <ion-col>
                            <p>
                                <B> {{shop.outletName}}</B>
                                <br> {{shop.outletCurrentAddressHomeNo}}&mdash; {{shop.outletCurrentAddressStreet}}
                                <br> {{shop.outletCurrentAddressTownship}}
                                <br> {{shop.outletCurrentAddressRegion}}
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>
</ion-content>