page-shoplist {


  ion-toolbar {
    border-radius: 20px;
}

ion-col div {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    // background-color: #cfebfd;
    // border: 1px solid #43677d;  
    border-radius: 2px;
    padding: 5px;
    text-align: center;
}

.scroll {
    height: 81%;
    overflow-y: scroll;
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}








}
