
<ion-header>
  <ion-navbar>
    <button mode="md" ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
    <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
<ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
    <ion-title id="custom_ion_title"><span class="uni">Merchant Pay</span></ion-title>
    <!--  <ion-buttons end>
  <button ion-button icon-only tappable (click)="callIT('012307901')">
    <ion-icon name="call"></ion-icon>
  </button>
</ion-buttons> -->
</ion-navbar>
</ion-header>

<ion-content padding style="background-color: #eeedf2;">
  <ion-card class="rounded" style="padding: 10px; border-radius:15px;" *ngFor="let m of merchantlist" tappable  (click)="goDetail(m)">
    <!-- <img class="container" style="width: 10%" src="assets/qpay/telenor.jpg"> -->
    <div style="text-align: left; margin:10px">{{m.merchantName}}</div>
  </ion-card>
</ion-content>
