<ion-header>

    <ion-navbar color="shwe">
        <ion-title style="text-align: center"><span class="uni">Utility Payment</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header style="white-space: inherit;background:lightgreen;padding:20px;">
            <div align="center">
                Transaction with reference number {{passTemp.bankRefNumber}} is in Accepted state.
            </div>

        </ion-card-header>


        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.totalAmount}}&nbsp;&nbsp; {{passTemp1.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.bankRefNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.transactionDate}}</h2>
        </ion-item>
        <hr>

        
        <ion-item text-wrap>
            <p class="uni">{{showFont[11]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.cusName}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[10]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.refNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[9]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.billId}}</h2>
        </ion-item>
        <hr>
        
       
        <!-- <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[0]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.refNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[1]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.billId}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[2]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.cusName}}</span></h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[3]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.amount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[4]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.penaltyAmount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[5]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.comAmount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[6]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.totalAmount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[7]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.deptName}}</span></h2>
        </ion-item>
        <hr> -->
        
        

    </ion-card>

    <div padding class="uni">
        <button ion-button block type="button" tappable (click)="getOK()" style="margin-top:10px;" color="mwallet">{{showFont[8]}}</button>
    </div>
</ion-content>