<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color:#ebf5f3;">
  <div style="padding-top: 5px;" *ngIf="isLoading">
    <div align="center">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  </div>
  <div *ngIf="nores == 1" align="center">
    <!-- <ion-list style="background-color:#ebf5f3;"> 
      <ion-item *ngFor="let merchant of MerchantList" tappable (click)="chooseMerchant(merchant)">
        <ion-row item-left>
          <text-avatar [text]="merchant.merchantName" style="background-color: #434eb2 !important;"></text-avatar>
        </ion-row>
        <h3 style="font-weight: bold;padding-left: 5px;">{{merchant.merchantName}}</h3>
        <p style="padding-left: 5px;">{{merchant.merchantID}}</p>
      </ion-item>
    </ion-list> -->
    <ion-list style="background-color:#ebf5f3;">
      <ion-item *ngFor="let merchant of MerchantList" tappable (click)="chooseMerchant(merchant)">
          <ion-row item-left>
            <text-avatar  *ngIf="merchant.merchantID != 'M00012' && merchant.merchantID != 'M00019'" [text]="merchant.merchantName" style="background-color: #434eb2 !important;"></text-avatar>
              <ion-avatar *ngIf="merchant.merchantID == 'M00012'">
                  <img src="assets/skynet.png" >
              </ion-avatar>
              <ion-avatar *ngIf="merchant.merchantID == 'M00019'">
                <img src="assets/utility.png" >
            </ion-avatar>
          </ion-row>
          <h3 style="font-weight: bold;padding-left: 5px;">{{merchant.merchantName}}</h3>
          <p style="padding-left: 5px;">{{merchant.merchantID}}</p>
      </ion-item>
  </ion-list>
  </div>
  <div *ngIf="nores == 0" align="center">
    <h3 style="padding:50px;color:#ccc;">
      <span>No result found!</span>
    </h3>
  </div>

</ion-content>