<ion-header>
    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title" class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>
</ion-header>
<!-- <ion-header>

    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
              <ion-icon name="md-arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
    </ion-navbar>

</ion-header> -->
<ion-content padding>
    <ion-item tappable (click)="getNext('a')" detail-push>
        <ion-icon name="ios-cash-outline" item-left color="mwallet"></ion-icon>
        <span class="uni" style="color:#444;">
            {{showFont[1]}}</span>
    </ion-item>
    <ion-item tappable (click)="getNext('b')" detail-push>
        <ion-icon name="ios-cash" item-left color="mwallet"></ion-icon>
        <span class="uni" style="color:#444;">{{showFont[2]}}</span>
    </ion-item>

    <ion-row style="padding-right: 5px; padding-left: 5px;">
        <hr>
        <!-- <ion-col>

            <div class="wallet" tappable (click)="getNext('a')">
                <div align="center" style="width: 80%; margin-left: 10%;">
                    <img src="assets/cash/cash-in.png">
                    <span class="{{showFont}}">
                        <div class="ion-text" style="margin-top: -12.5%;">
                            {{showFont[1]}}
                        </div>
                    </span>
                </div>

            </div>

        </ion-col> -->
        <!-- <ion-col>
            <div class="wallet" tappable (click)="getNext('b')">
                <div align="center" style="width: 80%; margin-left: 10%;">
                    <img src="assets/cash/cash-out.png">
                </div>
                <span class="{{showFont}}">
                    <div class="ion-text" style="margin-top: -10%;">
                        {{showFont[2]}}
                    </div>
                </span>
            </div>
        </ion-col> -->

    </ion-row>

    <!-- <ion-content mode="md">
        <div *ngIf="status == 1">
            <ion-item *ngFor="let l of topUpList" detail-push tappable (click)="getNext('a')">
                <ion-avatar item-left style="margin: 13px 16px 13px 0;">
                    <img src="assets/cash/cash-in.png" style="border-radius:30%;">
                </ion-avatar>
                <span class="{{showFont}}">
                    <div class="ion-text" style="margin-top: -12.5%;">
                        {{showFont[1]}}
                    </div>
                </span>
            </ion-item>
            <ion-item detail-push tappable (click)="getNext('b')">
                <ion-avatar item-left style="margin: 13px 16px 13px 0;">
                    <img src="assets/cash/cash-out.png" style="border-radius:30%;">
                </ion-avatar>
                <span class="{{showFont}}">
                    <div class="ion-text" style="margin-top: -10%;">
                        {{showFont[2]}}
                    </div>
                </span>
            </ion-item>
        </div>
        <div *ngIf="status == 0" align="center">
            <h3 style="padding:50px;color:#ccc;">No result found!</h3>
        </div>
    </ion-content> -->
</ion-content>