<ion-header>
  <ion-navbar color="shwe">
       <!-- <ion-buttons left>
          <button ion-button icon-only tappable (click)="backButton()">
      <ion-icon name="md-arrow-back"></ion-icon>
    </button> 
      </ion-buttons> -->
      <ion-title id="custom_ion_title"><span class="uni">{{textData[0]}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content class="uni" pullingText={{textData[2]}} refreshingText={{textData[3]}} pullingIcon="circular-spinner" refreshingSpinner="ios">
      </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="status == 1">
      <!-- <ion-item-group *ngFor="let r of allaccount">
          <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
              {{r.accType}}
          </ion-item-divider> -->
          <ion-item *ngFor="let a of allaccount" text-wrap tappable (click)="goTopup(a)">
              <h2>{{a.depositAcc}}</h2>
              <!-- <h2 style="float:right;font-weight:bold;color:#000;">{{a.avlBal}}&nbsp;{{a.ccy}}</h2> -->
              <h2 style="float:right;font-weight:bold;color:#74b700;" *ngIf="a.currentBal >= 0">{{a.avlBal}}&nbsp;{{a.ccy}}</h2>
              <h2 style="float:right;font-weight:bold;color:#EE4141;" *ngIf="a.currentBal < 0">{{a.avlBal}}&nbsp;{{a.ccy}}</h2>
          </ion-item>
      <!-- </ion-item-group> -->
  </div>
  <div *ngIf="status == 0" align="center">
      <h3 style="padding:50px;color:#ccc;"><span class="uni">{{showFont[1]}}</span></h3>
  </div>
</ion-content>