<!-- <ion-header no-border>
<ion-navbar transparent id="custom_ion_title" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.0) 100%, rgba(0, 0, 0, 0.1) 100%);">
  <ion-title *ngIf="onscroll"><span style="color: white;" class="uni">{{moreVdo}}</span></ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">Video</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: black;" fullscreen>
  <div style="margin-top:30px;">
      <ion-card [ngStyle]="{'background-color': buttonColor}" style="margin: 0px 0px 13px 0px !important; width: 100% !important;">
        <ion-item style="padding-left: 10px;height: 50px; background-color: black;">
         <!-- <text-avatar text="MIT" item-left></text-avatar>
          <h2 class="uni" style="font-weight: bold;color: white;">MIT</h2> -->
          <p class="uni" style="font-weight: bold;line-height:1.5;font-size:1.5rem;">{{passData.t1}}</p>
          <p style="font-family: ZawgyiOne;padding-left: 0px;font-size:1.2rem;color: #808080;">{{passData.modifiedDate}} at {{ passData.modifiedTime}}</p>
         <!-- <ion-note item-end>
            <button ion-button clear icon-right tappable (click)="clickBookMark(passData)">
              <ion-icon *ngIf="passData.showContent" name="ios-bookmark" style="color: #fd971e;" ></ion-icon>
              <ion-icon *ngIf="!passData.showContent" name="ios-bookmark" style="color: #bbb;" ></ion-icon>
            </button>
          </ion-note> -->
        </ion-item>
        <ion-card-content style="background-color: black;padding: 10px 5px 0px 5px;" >
          <div class="video-container" *ngIf="passData.n10 == 1 || passData.n10 == 0">
            <video (playing)="onPlayingVideo($event,k)" controls="controls" preload="metadata" id="video" poster="{{passData.playvideoLink}}" controlsList="nodownload" autoplay="autoplay resize_fit_center" webkit-playsinline="webkit-playsinline" class="videoPlayer" style="width: 100%;">
              <source src="{{passData.playvideoLink}}" type="video/mp4">
            </video>
          </div>
		<div *ngIf="passData.n10 == 2"> <!--(playing)="onPlayingVideo($event,k)" [src]="sanitizer.bypassSecurityTrustResourceUrl(i.playvideoLink)"  autoplay-->
          <iframe width="100%"  [src]="passData.playvideoLink" height="315" id="video" controls="controls"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        </ion-card-content>
        <p style="padding-bottom: 0px;padding-top: 20px;width: 96%;padding-left: 10px; color: white;height: 100px;" class="uni" *ngIf="passData.showread  == false" [innerHTML]="passData.t2" tappable (click)="continue(passData)"></p>
        <p style="padding-bottom: 0px;padding-top: 20px;width: 96%;padding-left: 10px; color: white;height: 100px;" class="uni" *ngIf="passData.showread  == true"  [innerHTML]="passData.t2" tappable (click)="continue(passData)"></p>

        
        <!-- <p *ngIf="showread" [ngStyle]="{'background-color': buttonColor}" style="padding-left: 10px;" tappable (click)="continue(passData)">Continued Reading</p> -->
        <!-- <ion-row style="margin-top: 20px;">
          <ion-col text-center style="padding: 0px;">
            <button ion-button clear icon-right style="padding: 0px;" tappable (click)="clickLike(passData)">
              <ion-icon *ngIf="passData.showLike" name="ios-thumbs-up" style="color: #fe7861;" ></ion-icon>
              <ion-icon *ngIf="!passData.showLike" name="ios-thumbs-up" style="color: white;" ></ion-icon>
              <span *ngIf="passData.showLike" style="text-transform: none; color:#fe7861; padding: 5px 0px 0px 5px;font-size: small;" class="uni">{{textData[1]}}</span>
              <span *ngIf="!passData.showLike " style="text-transform: none; color:white; padding: 5px 0px 0px 5px;font-size: small;" class="uni">{{textData[1]}}</span>
            </button>
          </ion-col>
          <ion-col text-center style="padding: 0px;">
            <button ion-button clear icon-left tappable (click)="share(passData)" style="padding: 0px;">
              <ion-icon name="ios-share-alt" style="color: white"></ion-icon>
              <span style="text-transform: none; color: white;font-size: small;" class="uni">{{textData[3]}}</span>
            </button>
          </ion-col>
        </ion-row> -->
      </ion-card>
      </div>
</ion-content>
<!-- <ion-footer style="height: 45px;background-color: #000000;" tappable (click)="goDetail()">
  <ion-row>
    <ion-col col-2></ion-col>
    <ion-col col-8><div align="center"><font color="white">More Videos</font></div></ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-1><ion-icon style="color: white;font-size: 15px;" name="ios-arrow-forward-outline"></ion-icon></ion-col>
  </ion-row>
</ion-footer> -->

