<!--
  Generated template for the LoanListInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
    <ion-title id="custom_ion_title"  class="uni" >{{textdata[0]}}</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card style="border-radius: 10px" *ngFor="let loan of loanHistory">
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[1]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">{{loan.applicantdata.member_name}}</h2> -->
      {{loan.applicantdata.member_name}}
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[2]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">{{loan.applicantdata.mobile}}</h2> -->
      {{loan.applicantdata.mobile}}
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[3]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">{{loan.guarantordata.member_name}}</h2> -->
      {{loan.guarantordata.member_name}}
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[4]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">{{loan.guarantordata.mobile}}</h2> -->
      {{loan.guarantordata.mobile}}
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[5]}}</span>
      </p>
      {{loan.shoplistData.outletName}}
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <p>
          <p>
            <span class="{{font}}"> {{textdata[6]}}</span>
          </p>
          <!-- <h2 style="font-weight:bold;color:#000;">{{loan.shoplistData.outletCurrentAddressHomeNo}} &mdash; {{loan.shoplistData.outletCurrentAddressStreet}},&nbsp;
        <br> {{loan.shoplistData.outletCurrentAddressTownship}}, &nbsp;
        <br> {{loan.shoplistData.outletCurrentAddressRegion}}
        <br> </h2> -->
          {{loan.shoplistData.outletCurrentAddressHomeNo}} &mdash; {{loan.shoplistData.outletCurrentAddressStreet}},&nbsp;
          <br> {{loan.shoplistData.outletCurrentAddressTownship}}, &nbsp;
          <br> {{loan.shoplistData.outletCurrentAddressRegion}}
          <br>
    </ion-item>
    <hr>
    <div *ngIf="loan.productListData.data.length>0">
      <div *ngFor="let product of loan.productListData.data">
        <ion-item text-wrap>
          <p>
            <span class="{{font}}"> {{textdata[7]}}</span>
          </p>
          <!-- <h2 style="font-weight:bold;color:#000;">{{product.productdescription}}</h2> -->
          {{product.productdescription}}
        </ion-item>
        <hr>
        <ion-item text-wrap>
          <p>
            <span class="{{font}}"> {{textdata[8]}}</span>
          </p>
          <!-- <h2 style="font-weight:bold;color:#000;">{{product.price}}</h2> -->
          {{product.price}} MMK
        </ion-item>
        <hr>
      </div>
    </div>
    <div *ngIf="loan.productListData.data.length==undefined">
      <div *ngFor="let product of Recommendataion">
        <ion-item text-wrap>
          <p>
            <span class="{{font}}"> {{textdata[7]}}</span>
          </p>
          <!-- <h2 style="font-weight:bold;color:#000;">{{product.productListData.data.productdescription}}</h2> -->
          {{product.productListData.data.productdescription}}
        </ion-item>
        <hr>
        <ion-item text-wrap>
          <p>
            <span class="{{font}}"> {{textdata[8]}}</span>
          </p>
          <!-- <h2 style="font-weight:bold;color:#000;">{{product.productListData.data.price}}</h2> -->
          {{product.productListData.data.price}} MMK
        </ion-item>
        <hr>
      </div>
    </div>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[9]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">{{loan.loandata.totalAmount}}</h2> -->
      {{loan.loandata.totalAmount}} MMK
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[10]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">0.00 MMK</h2> -->
      0.00 MMK
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[11]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">{{loan.loandata.paymentTerm}} Months</h2> -->
      {{loan.loandata.paymentTerm}} Months
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p>
        <span class="{{font}}"> {{textdata[12]}}</span>
      </p>
      <!-- <h2 style="font-weight:bold;color:#000;">{{loan.loandata.monthlyAmount}} MMK</h2> -->
      {{loan.loandata.monthlyAmount}} MMK
    </ion-item>
  </ion-card>
</ion-content>