<!--
  Generated template for the PaybillPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
	<ion-navbar >
		<ion-title id="custom_ion_title"  class="uni" >{{textdata[8]}}</ion-title> 
		
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-label floating>
			<span class="{{font}}" style="color:black;">{{textdata[0]}}</span>
		</ion-label>
		<ion-select (touchstart)="touchPay()" [(ngModel)]="global.PersonData.loandata.paymentTermSyskey" interface="popover" (ionChange)="Checked(
		global.PersonData.loandata.paymentTermSyskey)">
			<ion-option *ngFor="let payLst of PeroidList" [value]="payLst.paymentTermSysKey">
				<span style="color:black;">{{payLst.periodMonth}} Month </span>
			</ion-option>
		</ion-select>

	</ion-item>

	<div [hidden]="flag">
		<ion-item>
			<ion-label floating>
				<span class="{{font}}" style="color:black;">{{textdata[4]}}</span>
			</ion-label>
			<ion-input style="color:black;" [(ngModel)]="global.PersonData.loandata.totalAmount" type="text" disabled></ion-input>
		</ion-item>

		<ion-item>
			<ion-label floating>
				<span class="{{font}}" style="color:black;">{{textdata[5]}}</span>
			</ion-label>
			<ion-input style="color:black;" [(ngModel)]="global.PersonData.loandata.monthlyAmount" type="text" disabled></ion-input>
		</ion-item>

		<div align="center" *ngIf="global.startshop==0">
			<ion-buttons>
				<button ion-button color="mwalletbtn" block (click)="LoanApply()">
					<span class="{{font}}">{{textdata[7]}}</span>
				</button>
			</ion-buttons>
		</div>
		<div align="center" *ngIf="global.startshop==1 || global.startshop==2">
			<ion-buttons>
				<button ion-button color="mwalletbtn" block (click)="NextApplicant(global.PersonData)">
					<span class="{{font}}">{{textdata[9]}}</span>
				</button>
			</ion-buttons>
		</div>
	</div>
</ion-content>