<ion-header>
    <ion-navbar>
        <ion-buttons *ngIf="status ==1" left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="singleContent">
    <ion-card style="margin: 0px 0px 8px 0px !important; width: 100% !important;" *ngIf="nores == 1">
        <ion-item>
            <p class="uni" style="font-weight: bold;line-height:1.6;font-size:1.4rem;">{{detailData.t1}}</p>
            <p style="padding-left: 0px;font-size:1.2rem;color: #808080;">{{ detailData.modifiedDate}} at {{ detailData.modifiedTime}}</p>
        </ion-item>
        <hr style=" display: block; margin: 0px 3px 0px 3px; border: none; background-color: lightgrey">
        <ion-card-content>
            <div class="uni">
                <p [innerHTML]="detailData.t2"></p>
                <div class="video-container" *ngIf="detailData.t8 || detailData.videoStatus">
                    <video #videoPlayer controls="controls" id="video" poster="{{detailData.videoLink}}" controlsList="nodownload" autoplay="autoplay"
                        webkit-playsinline="webkit-playsinline" class="videoPlayer" style="width: 100%;">
                        <source [src]="sanitizer.bypassSecurityTrustResourceUrl(detailData.t8)" type="video/mp4">
                    </video>
                </div>
                <div *ngIf="detailData.n10 == 2">
                    <iframe width="100%" height="315" id="video" controls="controls" [src]="detailData.t8" frameborder="0" webkitallowfullscreen
                        mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </ion-card-content>
        <div style="padding: 0px 3px 0px 3px;" *ngIf="detailData.t8 =='' && detailData.videoStatus == false">
            <div *ngIf="detailData.uploadedPhoto.length == 1; let id = index" (click)="singlePhoto(detailData.uploadedPhoto[0].t7)">
                <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 2; let id = index" (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 3; let id = index" (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -1px;">
                    <img src="{{detailData.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 4; let id = index" (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -1px;">
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[2].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[3].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length == 5; let id = index" (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -1px;">
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[3].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[4].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="detailData.uploadedPhoto.length > 5; let id = index" (click)="viewImage(detailData)">
                <ion-row>
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: -1px;">
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col style="padding-right: 3px;">
                        <img src="{{detailData.uploadedPhoto[3].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    </ion-col>
                    <ion-col>
                        <img src="{{detailData.uploadedPhoto[4].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                        <div class="my-overlay">
                            <div class="positioner">
                                <ion-icon class="icscon" name="ios-add" style="font-weight:bold;font-size: 27px;color: #fff;"></ion-icon>
                                <span class="icscon1">{{detailData.uploadedPhoto.length - 4}}</span>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <hr style=" display: block; margin: 10px 3px 0px 3px; border: none; background-color: lightgrey">
        <!-- <ion-row>
            <ion-col text-center style="padding: 0px;">
                <button ion-button clear icon-right style="padding: 0px;" (click)="clickLike(detailData)">
                    <ion-icon *ngIf="detailData.showLike" name="ios-thumbs-up" style="color: #fe7861;"></ion-icon>
                    <ion-icon *ngIf="!detailData.showLike" name="ios-thumbs-up" style="color: #bbb;"></ion-icon>
                    <span *ngIf="detailData.showLike" style="text-transform: none; color:#fe7861; padding: 5px 0px 0px 5px;font-size: small;"
                        class="uni">{{textData[3]}}</span>
                    <span *ngIf="!detailData.showLike" style="text-transform: none; color:#808080; padding: 5px 0px 0px 5px;font-size: small;"
                        class="uni">{{textData[3]}}</span>
                </button>
            </ion-col>

            <ion-col text-center style="padding: 0px;">
                <button ion-button clear style="padding: 0px;">
                    <ion-icon name="ios-text" style="color: #bbb; font-size: 23px;"></ion-icon>
                    <span style="text-transform: none; color:#808080; padding: 3px 0px 0px 5px;font-size: small;" class="uni">{{textData[4]}}</span>
                </button>
            </ion-col>
        </ion-row> -->
    </ion-card>
    <span style="margin-top: 10px;margin-left: 15px;color: #fe7861;" *ngIf="detailData.n2 > 0 "><ion-icon name="ios-thumbs-up"></ion-icon>&nbsp;&nbsp;{{detailData.n2}}</span>

    <ion-list *ngIf="nores2 == 1">
        <ion-item *ngFor="let cmt of replyData;let j = index" no-lines (press)="presentPopover($event,cmt)">

            <div style="float: left;">
                <img item-left src="{{photoLink}}/{{cmt.t10}}" onError="this.src = 'assets/images/user-icon.png'" style="width:45px;height: 45px;border-radius: 50%;object-fit: cover;">
            </div>
            <div style="float: left;width:79%;">
                <h4 style="font-weight: bold;margin-top: 15px;" class="uni" *ngIf="cmt.userName">{{cmt.userName}}</h4>
                <h4 style="font-weight: bold;margin-top: 15px;" class="uni" *ngIf="cmt.userName==''">MIT User</h4>
                <p text-wrap style="color: #000000;line-height: 10px;" class="uni">{{cmt.t2}}</p>

                <p style="font-size:1.2rem;">
                    <span *ngIf="cmt.differenceTime == ' W'" style="color: #b1a7a7;">{{ cmt.modifiedDate}} </span>
                    <span *ngIf="cmt.differenceTime != ' W'" style="color: #b1a7a7;">{{cmt.differenceTime}}</span>
                    &nbsp;<span style="font-size:17px;color: #b1a7a7;line-height:10px;">.</span>&nbsp;
                    <span (click)="changeLike(cmt.syskey,j)" style="color: #fe7861;">{{cmt.like}}</span>
                    <span *ngIf="cmt.likeCount > 0" (click)="likePerson(cmt.person)" style="color:#fe7861;">&nbsp;<span style="font-size:17px;color: #fe7861;line-height: 10px;">.</span>&nbsp;<ion-icon
                            name="ios-thumbs-up" *ngIf="cmt.likeCount > 0"></ion-icon>&nbsp;&nbsp;{{cmt.likeCount}}</span>
                    &nbsp;<span style="font-size:17px;color:#fe7861;line-height: 10px;">.</span>&nbsp;
                    <span (click)="ClickReply(cmt)" style="color: #fe7861;">Reply</span>
                </p>

                <p *ngIf="cmt.replyCount > 0" style="font-weight: bold;" (click)="ClickReply(cmt)">View more {{cmt.replyCount}}&nbsp;
                    {{cmt.textreply}} </p>
                <div (click)="ClickReply(cmt)" *ngIf="cmt.replyComment.length > 0 &&  cmt.replyComment[0].person.length>0">
                    <div style="float:left;padding-right: 3px;">
                        <img src="{{photoLink}}/{{cmt.replyComment[0].person[0].t16}}" onError="this.src = 'assets/images/user-icon.png'" style="width:30px;height: 30px;border-radius: 50%;object-fit: cover;">
                    </div>
                    <div style="float:left;width: 80%;margin-top: 5px;">
                        <p>
                            <span style="font-size:1.3rem;font-weight: bold;color: #000000;" class="uni" *ngIf="cmt.replyComment[0].person[0].t2">{{cmt.replyComment[0].person[0].t2}}</span>
                            <span style="font-size:1.3rem;font-weight: bold;color: #000000;" class="uni" *ngIf="cmt.replyComment[0].person[0].t2==''">MIT
                                User
                            </span>
                            &nbsp;
                            <span class="uni" style="color: #000000;font-size:1.2rem;">{{cmt.replyComment[0].t2}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <div *ngIf="nores2 == 0" align="center">
        <h3 style="padding:50px;color:#ccc;"> <span class="uni">{{textData[1]}}</span></h3>
    </div>

    <div *ngIf="nores == 0" align="center">
        <h3 style="padding:50px;color:#ccc;"> <span class="uni">{{textData[1]}}</span></h3>
    </div>
</ion-content>