

<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#ebf5f3;">
  <div style="padding-top: 5px;" *ngIf="isLoading">
    <div align="center">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  </div>

  <div *ngIf="nores == 1" align="center">
    <ion-list style="background-color:#ebf5f3;"> 
      <ion-item *ngFor="let obj of cadData" tappable (click)="chooseCardNo(obj.cardNo)">
        <ion-row item-left>
          <text-avatar [text]="obj.name" style="background-color: #434eb2 !important;"></text-avatar>
        </ion-row>
        <h3 style="font-weight: bold;padding-left: 5px;">{{obj.name}}</h3>  
        <p style="padding-left: 5px;">{{obj.cardNo}}</p>      
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="nores == 0" align="center">
    <h3 style="padding:50px;color:#ccc;">
      <span>No result found!</span>
    </h3>
  </div>

</ion-content>

