<!--
  Generated template for the SugvideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent style="background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.0) 100%, rgba(0, 0, 0, 0.1) 100%);">
    <ion-title id="custom_ion_title" class="uni"><font color="white">More Videos</font></ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: black;" fullscreen> <!--(swipe)="swipeLeftEvent($event)"-->
  <ion-slides  (ionSlideDidChange)="slideChanged($event)">
    <ion-slide *ngFor="let i of menuList; let k = index">
      <ion-card style="margin: 0px 0px 13px 0px !important; width: 100% !important;">
        <ion-item style="padding-left: 10px;height: 50px; background-color: black;">
          <!--<text-avatar text="MIT" item-left></text-avatar>
          <h2 style="font-weight: bold;color: white;" class="uni">MIT</h2> -->
          <p class="uni" style="font-weight: bold;line-height:1.5;font-size:1.5rem;">{{i.t1}}</p>
          <p style="font-family: ZawgyiOne;padding-left: 0px;font-size:1.2rem;color: #808080;">{{ i.modifiedDate}} at {{ i.modifiedTime}} </p>
         <!-- <ion-note item-end>
            <button ion-button clear icon-right tappable (click)="clickBookMark(i,k)">
              <ion-icon *ngIf="i.showContent" name="ios-bookmark" style="color: #fd971e;" ></ion-icon>
              <ion-icon *ngIf="!i.showContent" name="ios-bookmark" style="color: #bbb;" ></ion-icon>
            </button>
          </ion-note> -->
        </ion-item>
        <hr style=" display: block; margin: 5px 3px 0px 3px; border: none; background-color: lightgrey">

        <ion-card-content style="padding: 0px 5px 0px 5px;" >

          <ion-card-title >


            <div class="video-container">
              <video (playing)="onPlayingVideo($event)" id="vodo" controls="controls" controlsList="nodownload" preload="metadata" webkit-playsinline="webkit-playsinline" class="myPlayer" style="width: 100%;">

                <source src="{{i.t8}}" type="video/mp4">

              </video>
            </div>
          </ion-card-title>
        </ion-card-content>
        <div style="background-color: black;">

        <p style="padding-bottom: 0px;padding-top: 20px;width: 96%;padding-left: 10px; color: white;height: 100px;" class="block-with-text {{font}}" *ngIf="i.showread  == false" [innerHTML]="i.t2" tappable (click)="continue(i)"></p>
        <p  style="padding-bottom: 0px;padding-top: 20px;width: 96%;padding-left: 10px; color: white;height: 100px;" class="block-with-text {{font}}" *ngIf="i.showread  == true" [innerHTML]="i.t2" tappable (click)="continue(i)"></p>
        <p *ngIf="i.showread" style="color: #808080;padding-left: 8px;text-align:left;" tappable (click)="continue(i)">Continued Reading</p>

       </div>

       <ion-footer style="height: 45px;background-color: #000000;">
        <ion-row style="background-color: black;">
          <ion-col text-center style="padding: 0px;">
            <button ion-button clear icon-right style="padding: 0px;" tappable (click)="clickLike(i,k)">
              <ion-icon *ngIf="i.showLike" name="ios-thumbs-up" style="color: #fe7861;" ></ion-icon>
              <ion-icon *ngIf="!i.showLike " name="ios-thumbs-up" style="color: white;" ></ion-icon>
              <span *ngIf="i.showLike" style="text-transform: none; color:#fe7861; padding: 5px 0px 0px 5px;font-size: small;" class="uni">{{textData[1]}}</span>
              <span *ngIf="!i.showLike " style="text-transform: none; color:white; padding: 5px 0px 0px 5px;font-size: small;" class="uni">{{textData[1]}}</span>
              <span *ngIf="i.n2 == 0"></span>
              <span *ngIf="i.n2 >= 1 && i.showLike" class="uni" style="color:#fe7861;padding-top: 5px;">&nbsp;{{i.n2}} {{textData[6]}}</span>
              <span *ngIf="i.n2 >= 1 && !i.showLike" class="uni" style="color:#808080;padding-top: 5px;">&nbsp;{{i.n2}} {{textData[6]}}</span>
            </button>
          </ion-col>
          <ion-col text-center style="padding: 0px;">
            <button ion-button clear icon-left tappable (click)="share(i)" style="padding: 0px;">
              <ion-icon name="ios-share-alt" style="color: white"></ion-icon>
              <span style="text-transform: none; color: white;font-size: small;" class="uni">{{textData[3]}}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-footer>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
