<ion-header>
  <ion-navbar>   
    <ion-title id="custom_ion_title" class="uni">{{textdata[0]}}</ion-title>
  </ion-navbar>
</ion-header> -->


 <ion-content padding class="vertical-align-content">
  <div style="box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.14)">
    <ion-list>
      <ion-item style="padding:10% 10% 0% 10%;margin-bottom:30px" align="center">
        <ion-label floating>
          <span class="uni">{{textdata[2]}}</span>
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" class="uni"></ion-input>
      </ion-item>
      <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
        <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="getconfirm()">{{textdata[3] }}</button>
      </div>
    </ion-list>
  </div>
  <div>
  </div>
</ion-content>
<!-- <ion-content>
  <ion-item style="margin-top:22px;">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <div>
      <ion-row>
          <ion-col class="uni" col-6>
              <button mode='md' style="font-size: 1em; width:100%;" ion-button outline tappable  color="mwalletbtn" (click)="goBack()">Cancel</button>
          </ion-col>
          <ion-col class="uni" col-6>
              <button mode='md' style="font-size: 1em; width:100%" ion-button tappable (click)="getconfirm()" color="mwalletbtn">
       OK
      </button>
          </ion-col>
      </ion-row>
  </div>
</ion-content> -->