page-chat {
    /*for photmessage*/
    .imgheight {
        height: 80px;
        width: 80px;
    }
    .img-wrap {
        position: relative;
        display: inline-block;
        font-size: 0;
        width: 80px;
    }
    .img-wrap .close {
        position: absolute;
        right: 0.4px;
        z-index: 100;
        background-color: #ddd;
        padding: 5px 7px 5px;
        cursor: pointer;
        opacity: .6;
        border-bottom-left-radius: 20%;
    }
    .img-wrap:hover .close {
        opacity: 1;
    }
    /*for messagebox*/
    $userBackgroundColor: #66c975; //#00ffff;//#BAD6EC;//#00ffcb;//#AFE1F5
    $toUserBackgroundColor: white;
    text-avatar {
        background-color: #434eb2;
    }
    ion-content .scroll-content {
        background-color: #f5f5f5;
    }
    ion-footer {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
        background-color: #fff; //height: 255px;
    }
    .line-breaker {
        white-space: pre-line;
        /* width: 120px; */
    }
    .msg-image {
        /* width: 120px;
    height: 100%; */
        max-width: 80%;
        border-radius: 5px;
    }
    /*.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 100%;
  }
  .img-wrap .close {
    position: absolute;
    right: 0.4px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 7px 5px;
    cursor: pointer;
    opacity: .7;
    border-bottom-left-radius: 20%;
  }
  .img-wrap1:hover .close {

    opacity: 1;
  }
  .imgheight {
    !*height: 300px;
    width: 100%;
    max-width: 100%;
    max-height: 500px;*!
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }*/
    /*.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid #000;
  }*/
    .msg-info {
        font-size: .8em;
        color: gray;
        text-align: right;
        padding-left: 0px;
        padding-top: 0px;
    }
    .input-wrap {
        padding: 0 5px;
        ion-textarea {
            position: static;
        }
        /* ion-col.col {
      padding: 0;
    } */
        button {
            width: 100%;
            /* height: 55px; */
            font-size: 1em;
            margin: 0;
        }
        textarea {
            border: 1px solid #434eb2;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
            margin: 0px auto;
        }
    }
    .input-wrap-photo {
        padding: 0 5px;
        ion-textarea {
            position: static;
        }
        /* ion-col.col {
      padding: 0;
    } */
        button {
            width: 100%;
            /* height: 55px; */
            font-size: 1em;
            margin: 0;
        }
        textarea {
            border-bottom: 1px solid #434eb2;
            border-radius: 0px;
            padding: 5px;
            width: 100%;
            margin: 0px auto;
        }
    }
    .message-wrap {
        padding: 0px 0px 10px 0px;
        .message {
            position: relative;
            padding: 0px 0;
            .user-img {
                position: absolute;
                border-radius: 45px;
                width: 45px;
                height: 45px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
            }
            .msg-detail {
                width: 100%;
                display: inline-block;
                p {
                    margin: 0;
                }
                /*.msg-info {
          p {
            font-size: .8em;
            color: #888;
          }
        }*/
                .msg-content {
                    position: relative;
                    /* margin-top: 5px; */
                    border-radius: 15px;
                    padding: 8px;
                    /* border: 0.5px solid black; */
                    color: white;
                    width: 80%;
                    span.triangle {
                        background-color: white;
                        border-radius: 2px;
                        height: 8px;
                        width: 8px;
                        top: 13px;
                        display: block;
                        /* border-style: solid; */
                        border-color: black;
                        border-width: 0.5px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        position: absolute;
                    }
                }
            }
        }
        .message.left {
            ion-avatar {
                float: right;
            }
            .msg-content {
                background-color: $toUserBackgroundColor;
                float: left;
            }
            .msg-detail {
                padding-left: 0px;
            }
            .user-img {
                left: 0;
            }
            .msg-content {
                color: black; //text from left user
                span.triangle {
                    background-color: $toUserBackgroundColor;
                    border-top-width: 0;
                    border-right-width: 0;
                    left: -5px;
                }
            }
        }
        .message.right {
            .msg-detail {
                padding-right: 0px;
                /*.msg-info {
          text-align: right;
        }*/
            }
            .user-img {
                right: 0;
            }
            ion-spinner {
                position: absolute;
                right: 10px;
                top: 50px;
            }
            .msg-content {
                color: white;
                background-color: $userBackgroundColor;
                float: right;
                span.triangle {
                    background-color: $userBackgroundColor;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    right: -4px;
                }
            }
        }
    }
    /*test css for msg style*/
    body {
        background-color: #eee;
        color: #222;
        font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .container {
        padding: 40px 20px;
        margin: 0 auto;
        width: 400px;
    }
    .bubble {
        background-image: linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
        background-image: -o-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.25, rgb(210, 244, 254)), color-stop(1, rgb(149, 194, 253)));
        border: solid 1px rgba(0, 0, 0, 0.5);
        /* vendor rules */
        border-radius: 20px;
        /* vendor rules */
        box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
        /* vendor rules */
        box-sizing: border-box;
        clear: both;
        float: left;
        margin-bottom: 20px;
        padding: 8px 30px;
        position: relative;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
        width: auto;
        max-width: 100%;
        word-wrap: break-word;
    }
    .bubble:before,
    .bubble:after {
        border-radius: 20px / 10px;
        content: '';
        display: block;
        position: absolute;
    }
    .bubble:before {
        border: 10px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        left: -7px;
        z-index: -2;
    }
    .bubble:after {
        border: 8px solid transparent;
        border-bottom-color: #d2f4fe;
        bottom: 1px;
        left: -5px;
    }
    .bubble--alt {
        background-image: linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
        background-image: -o-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.25, rgb(172, 228, 75)), color-stop(1, rgb(122, 205, 71)));
        float: right;
    }
    .bubble--alt:before {
        border-bottom-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px / 10px;
        left: auto;
        right: -7px;
    }
    .bubble--alt:after {
        border-bottom-color: #ace44b;
        border-radius: 20px / 10px;
        left: auto;
        right: -5px;
    }
    .my-overlay {
        padding-top: 5px;
        padding-right: 5px;
        width: 200px;
        text-align: center;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.17);
        height: 24px;
        font-family: 'tahoma';
        font-size: .8em;
        color: white;
    }
    /* Define the "system" font family */
    @font-face {
        font-family: system;
        font-style: normal;
        font-weight: 300;
        src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
    }
    /* Now, let's apply it on an element */
    body {
        font-family: "system";
    }
    .fab-md {
        background-color: #434eb2;
    }
    ion-avatar img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    ion-avatar {
        width: 4.2rem;
        height: 4.2rem;
    }
    .doHide {
        display: none;
    }
    .resizePhoto {
        width: 50%;
    }
    /* .loading-ios,
  .loading-md,
  .loading-wp {
    .my-loading-class {
      background-color: transparent;
      box-shadow: none;
    }
  } */
    #group_title_one {
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
    }
    #group_title_two {
        position: absolute;
        bottom: -15%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
    }
    @media only screen and (min-device-width: 500px) {
        // default iPad screens 
        .ion-image {
            margin-left: -85%;
        }
    }
    @media screen and (min-width: 800px) {
        .ion-image {
            margin-left: -100%;
        }
    }
    @media screen and (min-device-width: 501px) and (max-device-width: 768px) {
        /* STYLES HERE */
    }
    @media only screen and (max-device-width: 480px) {
        /* STYLES HERE */
    }
}