<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>{{textData[10]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="uni" align="center" style="padding-top: 10px; padding-bottom: 10px;">
        <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="goScan()" [disabled]="this.btnflag">{{textData[10]}}</button>
      </div>

</ion-content> -->
