<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item-group>
      <ion-list radio-group [(ngModel)]="chooseFont">
        <ion-item no-lines>
          <ion-label>
            <span class="uni">{{textData[1]}}</span>
          </ion-label>
          <ion-radio value="uni" tappable (ionSelect)="mcqAnswer('uni')"></ion-radio>
        </ion-item>

        <ion-item no-lines>
          <ion-label>
            <span class="uni">{{textData[2]}}</span>
          </ion-label>
          <ion-radio value="zg" tappable (ionSelect)="mcqAnswer('zg')"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-item-group>
</ion-content>