page-staff-loan-information {
    //Rounded corners with a border & input cursor change blue box 
    input[type=text] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 9px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
    }
    input[type=text]:focus {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
    input[type=number] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 9px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
    }
    input[type=number]:focus {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
    textarea.text-input {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 9px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
    }
    textarea.text-input:focus {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
    select[type=popover] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 9px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
    }
    select[type=popover] {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    } //   .toolbar-background {
    //     border: none;
    // }
    // #custom_bottom_border_for_tab {
    //     //border: 2px solid #CE982C;
    //     border: 2px solid #AA1E38;
    //     margin-top: -5px;
    //     margin-left: 40%;
    //     margin-right: 40%;
    //     border-radius: 50px;
    // }
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
        color: map-get($colors, pcthree) !important;
        border-color: map-get($colors, pcthree) !important;
        opacity: 1;
    }
    /* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
    /* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
    .styled-select {
        overflow: hidden;
        width: 240px;
    }
    .styled-select select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        /* If you add too much padding here, the options won't show in IE */
        width: 268px;
    } //  .styled-select.slate {
    //     background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    //     height: 34px;
    //     width: 240px;
    //  }
    //  .styled-select.slate select {
    //     border: 1px solid #ccc;
    //     font-size: 16px;
    //     height: 34px;
    //     width: 268px;
    //  }
    /* -------------------- Rounded Corners */
    .rounded {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    /* -------------------- Colors: Background */
    .slate {
        background-color: #ddd;
    }
    .green {
        background-color: #779126;
    }
    .blue {
        background-color: #3b8ec2;
    }
    .yellow {
        background-color: #eec111;
    }
    .white {
        // background-color: #fff;
        border: 2px solid #aaa;
    }
    /* -------------------- Colors: Text */
    .slate select {
        color: #000;
    }
    .green select {
        color: #fff;
    }
    .blue select {
        color: #fff;
    }
    .yellow select {
        color: #000;
    }
    .white select {
        color: #3b8ec2;
    }
    ion-col div {
        background-color: #f0f5ff;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
    }
    p {
        padding: 10px 0 0 10px !important;
        margin: 0;
    }
    .item-md.item-input.input-has-focus .item-inner {
        // border-bottom-style: none !important;
        border-bottom-color: white !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    } //delete
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: white !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: white !important;
        box-shadow: none !important;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    } //test 
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }
    .scroll {
        //background-color: lightblue;
        width: 100%;
        overflow-x: visible;
    }

}