<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.  *ngIf="global.startshop==0"
-->

<ion-header no-border>
	<ion-navbar  no-border-bottom>

		<ion-title id="custom_ion_title"  class="uni" >{{textdata[72]}}</ion-title> 
	</ion-navbar>
	<ion-toolbar no-border-top>
		<!-- test  -->

		<!-- <ion-scroll scrollX="true" style="width:100vw;height:350px"> -->

		<div class="scroll">
			<ion-segment [(ngModel)]="infoType" color="primary">
				<ion-segment-button value="app">
					<span class="{{font}}"> {{textdata[24]}}</span>
					<div *ngIf="infoType=='app'" id="custom_bottom_border_for_tab"></div>
				</ion-segment-button>
				<ion-segment-button value="gau1">
					<span class="{{font}}"> {{textdata[25]}}</span>
					<div *ngIf="infoType=='gau1'" id="custom_bottom_border_for_tab"></div>
				</ion-segment-button>
				<!-- <ion-segment-button value="gau2">
					<span class="{{font}}"> {{textdata[26]}}</span>
					<div *ngIf="infoType=='gau2'" id="custom_bottom_border_for_tab"></div>
				</ion-segment-button> -->
				<ion-segment-button value="term">
					<span class="{{font}}"> {{textdata[27]}}</span>
					<div *ngIf="infoType=='term'" id="custom_bottom_border_for_tab"></div>
				</ion-segment-button>
				<!-- /////////// scroll test -->
				<!-- <ion-segment-button value="term1">
					>>>>> </ion-segment-button>
				<ion-segment-button value="term2">
					BBBBBB </ion-segment-button>
				<ion-segment-button value="term3">
					CCCCCC </ion-segment-button>
				<ion-segment-button value="ter4">
					DDDD </ion-segment-button>
				<ion-segment-button value="term5">
					EEE </ion-segment-button>  -->
			</ion-segment>
		</div>



		<!-- </ion-scroll> -->
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div [ngSwitch]="infoType">
		<ion-list *ngSwitchCase="'term'">
			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[19]}}
						<span style="color:red;">*&nbsp;</span>
					</span>

				</ion-label>
				<ion-input cursor type="text" [(ngModel)]="global.staffData.staffLoanData.loanAmount" (ngModelChange)="inputChange($event)"
				 #loanAmt (input)="loanAmt.value = format(global.staffData.staffLoanData.loanAmount)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}" style="color:black;">{{textdata[18]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-select class="styled-select white rounded" [(ngModel)]="global.staffData.staffLoanData.loanTerm" interface="popover"
				 (ionChange)="Checked(global.staffData.staffLoanData.loanTerm)">
					<ion-option *ngFor="let payLst of loanTermList" [value]="payLst.loanTermInYear">
						<span style="color:black;">{{payLst.loanTermInYear}} Year </span>
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}" style="color:black;">{{textdata[14]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input style="color:black;" [(ngModel)]="global.staffData.staffLoanData.serviceCharges" type="text" disabled>
				</ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}" style="color:black;">{{textdata[15]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input style="color:black;" [(ngModel)]="global.staffData.staffLoanData.bankInterestRate" type="text" disabled></ion-input>
			</ion-item>

			<div align="center">
				<ion-buttons>
					<button ion-button color="mwalletbtn" block (click)="LoanApply()">
						<span class="{{font}}">{{textdata[71]}}</span>
					</button>
				</ion-buttons>
			</div>
			<!-- <div align="center" *ngIf="global.startshop==1 || global.startshop==2">
				<ion-buttons>
					<button ion-button color="mwalletbtn" block (click)="NextApplicant(global.staffData)">
						<span class="{{font}}">{{textdata[17]}}</span>
					</button>
				</ion-buttons>
			</div> -->
		</ion-list>

		<ion-list *ngSwitchCase="'app'">
			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[0]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanApplicant.staffName" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[1]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanApplicant.staffNrc" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[2]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-select class="styled-select white rounded" [(ngModel)]="global.staffData.staffLoanApplicant.currentAddressRegion" (ionChange)="RegionChange(global.staffData.staffLoanApplicant.currentAddressRegion)"
				 interface="popover">
					<ion-option *ngFor="let regLst of regionList" [value]="regLst.regionRefSyskey">{{regLst.description}} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[3]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-select class="styled-select white rounded" [(ngModel)]="global.staffData.staffLoanApplicant.currentAddressTownship"
				 interface="popover">
					<ion-option *ngFor="let townLst of townshipList" [value]="townLst.townshipRefSyskey">{{townLst.description}} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[4]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-textarea class="{{changeFont}}" cursor [(ngModel)]="global.staffData.staffLoanApplicant.currentAddressStreet" (ngModelChange)="inputChange($event)">
				</ion-textarea>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[5]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanApplicant.mobile" 
				 (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[8]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanApplicant.department" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[6]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanApplicant.currentPosition" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[7]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input cursor type="text" [(ngModel)]="global.staffData.staffLoanApplicant.monthlyBasicIncome" (ngModelChange)="inputChange($event)"
				 #appIncome (input)="appIncome.value = format(global.staffData.staffLoanApplicant.monthlyBasicIncome)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[10]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.appNrcFrontData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('AppNRCFront')" />
				</ion-col>
			</ion-row>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[11]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.appNrcBackData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('AppNRCBack')" />
				</ion-col>
			</ion-row>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[9]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.appPhotoData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('AppPhoto')" />
				</ion-col>
			</ion-row>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[13]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>

			<ion-row>
				<ion-col>
					<img src="{{global.staffIdData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;" onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('StaffID')" />
				</ion-col>
			</ion-row>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[20]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.familyRegFrontData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('FamilyRegFront')" />
				</ion-col>
			</ion-row>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[21]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.familyRegBackData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('FamilyRegBack')" />
				</ion-col>
			</ion-row>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[12]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.deptChRecomData.profile}}" style="width: 150px; height: 200px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 70px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('DeptChRecom')" />
				</ion-col>
			</ion-row>
			<div style="padding-bottom: 15%" align="right">
				<button ion-fab clear color="mwalletbtn" tappable (click)="scrollToTop()">
					<ion-icon name="arrow-dropup-circle"></ion-icon>
				</button>
			</div>
		</ion-list>

		<ion-list *ngSwitchCase="'gau1'">
			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[22]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-select class="styled-select white rounded" [(ngModel)]="global.staffData.staffLoanGuarantor1.guarantorSyskey" (ionChange)="onSelectChangeGua1($event)"
				 interface="popover">
					<ion-option *ngFor="let gau of GuranInfo" [value]="gau.guarantorSyskey">{{gau.guarantorName}} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item no-lines *ngIf="Newguran1">
				<ion-label stacked>
					<span class="{{font}}">{{textdata[0]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanGuarantor1.guarantorName" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[1]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanGuarantor1.guarantorNrc" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[2]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-select class="styled-select white rounded" [(ngModel)]="global.staffData.staffLoanGuarantor1.currentAddressRegion" (ionChange)="RegionChangeGua1(global.staffData.staffLoanGuarantor1.currentAddressRegion)"
				 interface="popover">
					<ion-option *ngFor="let regLst of regionListGua1" [value]="regLst.regionRefSyskey">{{regLst.description}} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[3]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-select class="styled-select white rounded" [(ngModel)]="global.staffData.staffLoanGuarantor1.currentAddressTownship"
				 interface="popover">
					<ion-option *ngFor="let townLst of townshipListGua1" [value]="townLst.townshipRefSyskey">{{townLst.description}} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[4]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-textarea class="{{changeFont}}" cursor [(ngModel)]="global.staffData.staffLoanGuarantor1.currentAddressStreet" (ngModelChange)="inputChange($event)">
				</ion-textarea>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[5]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="number" [(ngModel)]="global.staffData.staffLoanGuarantor1.mobile" 
				 (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[8]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanGuarantor1.department" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label stacked>
					<span class="{{font}}">{{textdata[6]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.staffData.staffLoanGuarantor1.currentPosition" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[10]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.gua1NrcFrontData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('Gua1NRCFront')" />
				</ion-col>
			</ion-row>

			<ion-item no-lines>
				<ion-label class="{{font}}">{{textdata[11]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.gua1NrcBackData.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;margin-left:40px;"
					 onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col offset-3 style="margin-top: 20px;">
					<img style=width:20% src="./assets/upload.png" (click)="imageEdit('Gua1NRCBack')" />
				</ion-col>
			</ion-row>
			<div style="padding-bottom: 15%" align="right">
				<button ion-fab clear color="mwalletbtn" tappable (click)="scrollToTop()">
					<ion-icon name="arrow-dropup-circle"></ion-icon>
				</button>
			</div>
		</ion-list>
	</div>
</ion-content>