page-productlist {
    
    #notification-button {            
        position: relative;
        width: 0px;
        top:2px;
        right: 1px;
        overflow: visible!important;
    }


#notifications-badge {
        background-color: white;
        position: absolute;
        top: -1px;
        right: -3px;
        border-radius: 100%;
    }
ion-icon {
    font-size: 10px; //Preferred size here
}

//psst test 
.left {
    float: left;
    width: 300px;
    width: 100px;
    border: 3px solid white;
    padding: 0px;
    width: 5em;
}

.right {
    position: absolute;
    right: 0;
    width: 100px;
    height: 120px;
    border: 3px solid greenyellow;
} 

//psst test static img
/* ion-icon {
    color:gray;
    margin-left: 90px;
} */

}
