<!--
  Generated template for the ProductlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
    <ion-navbar >
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title"  class="uni" >{{textdata[0]}}</ion-title> 
        <ion-buttons end>
            <button ion-button icon-only (click)="next()">
                <ion-icon name="cart" end>
                    <ion-badge style="position:absolute; font-weight: bold; top:-5px; left: 9px; font-size:9px;" color="whilte">{{global.PersonData.applyProductList.data.length}}</ion-badge>
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let prolst of prolist">
        <ion-card style="padding: 20px 20px" tappable (click)="addCart(prolst)">
            <ion-row align-items-center>
                <ion-col col-4 class="{{font}}">
                    <div class="left">
                        <img src="{{prolst.productImagePath}}">
                    </div>
                </ion-col>
                <ion-col col-6>
                    <b>{{prolst.productdescription}} </b>
                    <br> {{prolst.category}}
                    <br> {{prolst.productprice}} MMK
                </ion-col>
                <ion-col col-2>
                    <ion-buttons end>
                        <button ion-button color="mwallet" icon-only clear>
                            <ion-icon name="cart" end></ion-icon>
                        </button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>


<!--  8.8 psst  
    <ion-footer>
	<ion-buttons>
		<button ion-button color="mwallet" block (click)="next()"><span class="{{font}}">{{textdata[1]}}</span>
		</button>
	</ion-buttons>
</ion-footer> -->