<ion-header>
  <ion-navbar>    
    <ion-title>{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <ion-card style="padding: 20px 20px">
    <ion-item>
      <ion-label floating>
        <span class="uni">{{textData[1]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="accNumber"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 15px;" align="center" *ngIf="errormsg1!=''">{{errormsg1}}</div>
    <hr>
    <ion-item>
      <ion-label floating>
        <span class="uni">{{textData[2]}}</span>
      </ion-label>
      <ion-select [(ngModel)]="accountType" (ionChange)="setAccType(accountType)" interface="popover">
        <ion-option *ngFor="let eachAcc of accountTypeList" [value]="eachAcc.value">
          {{eachAcc.caption}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-row style="padding:10px 10px 10px;">
    <ion-col class="uni" col-6>
      <button ion-button outline block type="cancel" tappable tappable (click)="cancel()">{{textData[3]}}</button>
    </ion-col>
    <ion-col class="uni" col-6>
      <button ion-button block type="button" tappable tappable (click)="addAccount()" color="mwalletbtn">{{textData[4]}}</button>
    </ion-col>
  </ion-row>
</ion-content>
