page-profile {
  img {
    width: 20%;
  }
  .item-inner {
    border-bottom: 0px solid gray !important;
    box-shadow: none !important;
  }
  .item {
    padding-left: 0px !important;
  }
  .imgheight{
    height:100px;
    width:100px;
   // margin-top: -45px;
    object-fit: cover;
    border-radius: 5px;
  } 
}
