<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-row>
            <ion-col col-12>
                <div align="center" style="padding-top: 2px;">
                    <img tappable (click)="imageEdit()" src="{{profile}}" class="imgheight" onError="this.src = 'assets/images/user-icon.png'">
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <div align="center" style="padding-top: 2px;">
                    <ion-icon style="font-size:25px;bottom: 0px;color:#928b8b;" name="ios-create" tappable (click)="imageEdit()"></ion-icon>
                </div>
            </ion-col>
        </ion-row>

        <ion-row style="padding-left: 15px; padding-right: 15px;">
            <ion-col>
                <ion-list>
                    <ion-item style="border-bottom: 1px solid gray !important;">
                        <ion-label floating>
                            <span class="{{showFont}}">{{textData[1]}}</span>
                        </ion-label>


                        <ion-input class="{{showFont}}" disabled="true" type="text" [(ngModel)]="phoneno"></ion-input>
                    </ion-item>
                    <!-- <hr> -->
                    <ion-item style="border-bottom: 1px solid gray !important;">
                        <ion-label floating>
                            <span class="{{showFont}}">{{textData[2]}}</span>
                        </ion-label>
                        <ion-input type="text" class="uni" [(ngModel)]="registerData.username"></ion-input>
                    </ion-item>

                    <div *ngIf="eMsgName!=''" style="color: red;" class="{{showFont}}">{{eMsgName}}</div>

                    <div class="{{showFont}}" align="center" style="padding-top: 40px; padding-bottom: 30px;">
                        <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="saveUserProfile()">{{textData[3]
              }}</button>
                    </div>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>