page-select-album {

  .updiv{
    background: #80AA2A;
    padding:0px;
    height: 160px;
  }

  .label-md {
    margin: 13px 8px 13px 0;
    font-family: Unicode;
  }

  .scroll-content {
    padding-top: 0 !important;
  }

  .edit-content {
    background: #e8e8e8; //#d4534e
  }

  .button-inner
  {
    color: white;
  }
}
