<!--
  Generated template for the ShoppingCartInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar >
		<button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
		</button>
		 <ion-title id="custom_ion_title"  class="uni" >{{textdata[1]}}</ion-title> 

	</ion-navbar>
</ion-header>

<ion-content padding>


	<ion-list *ngFor="let ProList of chooseItemLst">
		<ion-card style="padding: 20px 20px" tappable (click)="removeItem(ProList.outletProductSyskey)">
			<ion-row align-items-center>
				<ion-col col-4 class="{{font}}">
					<div class="left">
						<img src="{{ProList.productImagePath}}">
					</div>
				</ion-col>
				<ion-col col-6>
					<b>{{ProList.productdescription}} </b>
					<br> {{ProList.category}}
					<br> {{ProList.productprice}} MMK
				</ion-col>
				<ion-col col-2>
					<button ion-button type="button" style="height: 35px;width: 35px;border-radius: 50%;
								display: inline-block;" tappable color="mwalletbtn">
						<ion-icon name="md-close" style="padding-top: 2.5px;"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-card>
	</ion-list>

</ion-content>



<!-- 	
			<ion-list *ngFor="let ProList of chooseItemLst">
		<ion-card style="padding: 20px 20px" tappable>
			<ion-row align-items-center>
				<ion-col style="width: 70%;padding:0px" class="{{font}}">
					<div class="left">
						<img src="{{ProList.productImagePath}}">
					</div>
					&nbsp;<b>{{ProList.productdescription}} </b><br> &nbsp; {{ProList.category}}
					<br>&nbsp; {{ProList.productprice}} MMK
				</ion-col>
				<ion-col>
					<div align="center">
						<button style="font-size:1.5rem;" ion-button color="mwalletbtn" clear icon-only (click)="removeItem(ProList.outletProductSyskey)">
							<ion-icon name='ios-close-circle' is-active="false"></ion-icon>
						</button>
					</div>
					<div align="right">
						<ion-col>
							<button ion-button type="button" style="height: 35px;width: 35px;border-radius: 50%;
						     display: inline-block;" tappable (click)="removeItem(ProList.outletProductSyskey)" color="mwalletbtn">
							 <ion-icon name="md-close" style="padding-top: 2.5px;"></ion-icon></button>
						</ion-col>
					</div>

				</ion-col>
			</ion-row>
		</ion-card>
	</ion-list>
</ion-content> -->





<ion-footer>
	<ion-buttons>
		<button ion-button color="mwalletbtn" block (click)="comfirm()">
			<span class="{{font}}">{{textdata[0]}}</span>
		</button>
	</ion-buttons>
</ion-footer>


<!--<div class="left">-->
<!--<img src="{{ProList.productImagePath}}" style="float: left;width: 100px;border: 3px solid white;padding: 0px;width: 5em;" >-->
<!--</div>-->

<!--<ion-col style="width: 60%" class="{{font}}">
					<b>{{ProList.productdescription}} </b>
					<br>
					<h3>{{ProList.category}}</h3>
					<br>{{ProList.productPrice}} MMK
				</ion-col>
				<ion-col style="padding: 10%">
					<button ion-button icon-only (click)="removeItem(ProList.outletProductSyskey)">
  				<ion-icon name="close-circle" end></ion-icon>
   				</button>
				</ion-col>
			</ion-row>-->

<!-- 
					<ion-row>
						<ion-col style="width: 90%;padding:-10px" class="{{font}}">
							<div class="left">
								<img src="{{prolst.productImagepath}}">
							</div>
							&nbsp;<b>{{prolst.productdescription}} </b><br> &nbsp; {{prolst.category}}
							<br>&nbsp; {{prolst.productprice}} MMK
							<ion-buttons end>
								<button ion-button color="mwallet" icon-only (click)="addCart(prolst)">
							<ion-icon name="cart" end></ion-icon>
						</button>
							</ion-buttons>
						</ion-col>
					</ion-row> -->

<!-- psst test-->
<!--<ion-row>
        <ion-col>
        <ion-item tappable (click)="removeItem()">
           <ion-icon color="primary" name="cart" end></ion-icon> &nbsp;
            DELETE
        </ion-item>-->
<!--<ion-buttons>
					<button ion-button color="mwalletbtn" round outline (click)="removeItem()">DELETE
        	<ion-icon name="cart" end></ion-icon>
      </button>
				</ion-buttons>-->
<!--</ion-row>-->