<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="custom_ion_title" class="uni">
      <span class="uni">{{textDatas[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row style="padding-left: 15px; padding-right: 15px;">
      <ion-col>
        <ion-item style="border-bottom: 1px solid gray !important;">
          <ion-label floating>
            <span class="uni">{{textDatas[0]}}</span>
          </ion-label>
          <ion-input class="uni" type="text" [(ngModel)]="ip"></ion-input>
        </ion-item>
        <ion-item style="border-bottom: 1px solid gray !important;">
          <ion-label floating>
            <span class="uni">{{textDatas[1]}}</span>
          </ion-label>
          <ion-input class="uni" type="text" [(ngModel)]="key"></ion-input>
        </ion-item>

        <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
          <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="saveurl()">{{textDatas[2] }}</button>
        </div>

        <ion-label *ngIf="errormessagetext!=''" style="color:red;text-align: center;font-size: 15px;">
          <span class="uni">{{errormessagetext}}</span>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
