page-registration { 
  .item-inner {
    border-bottom: 0px solid gray !important;
    box-shadow: none !important;
  }
  .item {
    padding-left: 0px !important;
  }
  #profiletext {
    background-color: antiquewhite;
  }
  #secondcard {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  #secondcard-item-line {
    border-bottom: 1px solid gray !important;
    box-shadow: none !important;
  }
  #save-btn-div {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-top: 20px;
    float: right;
  }
  #submit-btn-div {
    padding-left: 10px;
    padding-top: 20px;
  }
  #edit-btn-div {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #btn {
    font-size: 1em;
    width: 130px;
  }
  .img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
  }
  .card-header {
    padding: 0px !important;
  }
  .vertical-align-content>.fixed-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
  }
  .text-input {
    font-size: 1.4rem !important;
  }
  .select-text {
    font-size: 1.4rem !important;
  }
  textarea.text-input {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
  .card-content-md {
    padding: 1% 2% !important;
    font-size: 1.4rem !important;
    line-height: 1.5 !important;
}

ion-card-content {
    display: grid !important;
}

}
