<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title id="custom_ion_title">{{textData[0]}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="syncContact()">
        <ion-icon name="contact"></ion-icon>
      </button>
            <!-- <button ion-button icon-only tappable (click)="presentPopover($event)">
              <ion-icon name="md-more"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div style="padding-top: 5px;" *ngIf="isLoading">
        <div align="center">
            <ion-spinner name="circles"></ion-spinner>
        </div>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="nores == 1">
        <ion-list>
            <ion-item style="padding-top: 2px; padding-bottom: 2px;" *ngFor="let a of UserList" tappable (click)="viewChat(a)">
                <ion-row item-left>
                    <text-avatar *ngIf="a.t18 == '' || a.t18 == 'user-icon.png'" [text]="a.name" style="background-color: #434eb2 !important;"></text-avatar>

                    <ion-avatar *ngIf="a.t18 != '' && a.t18 != 'user-icon.png'">
                        <img src="{{profileImageLink}}{{a.t18}}" onError="this.src = 'assets/images/user-icon.png'">
                    </ion-avatar>
                </ion-row>

                <h3 style="font-weight: bold;padding-left: 5px;" class="uni">{{a.name}}</h3>
                <p style="padding-left: 5px;" class="uni">{{a.phone}}</p>
            </ion-item>
        </ion-list>
        <ion-list></ion-list>
    </div>

    <div *ngIf="nores == 0" align="center" class="uni">
        <h3 style="padding:50px;color:#ccc;">
            <span>No result found!</span>
        </h3>
    </div>
    <ion-fab bottom right>
        <button ion-fab color="mwalletbtn" tappable (click)="presentPopoverContact($event)">
      <ion-icon name="md-person-add"></ion-icon>
    </button>
    </ion-fab>

    <ion-list>
        <ion-item *ngFor="let a of this.phNo">
            {{ a.value }}
        </ion-item>
    </ion-list>

</ion-content>