<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
        <ion-buttons end>
            <!--<button ion-button icon-only tappable (click)="presentPopover($event)">
                            <ion-icon name="md-more"></ion-icon>
                        </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div ion-fixed style="padding-top: 10px;" *ngIf="isLoading">
        <div align="center">
            <ion-spinner name="circles" style="color: #019b8b;background-color: white;border-radius: 50%;">
            </ion-spinner>
        </div>
    </div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles" refreshingText="">
        </ion-refresher-content>
    </ion-refresher>

    <div style="background: #ce8181;" *ngIf="nores == 1">
        <div *ngFor="let d of menuList;let j = index">
            <ion-card style="margin: 0px 0px 8px 0px !important; width: 100% !important;" *ngFor="let i of d.menu_arr; let k = index">
                <ion-item>
                    <ion-avatar item-start *ngIf="i.t1 == ''">
                        <img *ngIf="i.userId == registerData.t1" src="{{profile}}" onError="this.src = 'assets/images/user-icon.png'">
                        <img *ngIf="i.userId != registerData.t1" src="assets/images/user-icon.png">
                    </ion-avatar>
                    <h2 *ngIf="i.t1 == ''" class="uni" style="font-weight: bold;line-height:1.6;font-size:1.4rem;">
                        {{i.userName}}</h2>
                    <ion-avatar *ngIf="i.t1 == ''" item-end align="center" style="margin-right: 0 !important;" (click)="makeAction(i.syskey)">
                        <ion-icon ios="ios-more" name="md-more" style="width: 100%;font-size: 2.2rem;color: gray;">
                        </ion-icon>
                    </ion-avatar>
                    <p *ngIf="i.t1 != ''" class="uni" style="font-weight: bold;line-height:1.6;font-size:1.5rem;">
                        {{i.t1}}</p>
                    <p style="padding-left: 0px;font-size:1.2rem;color: #808080;" class="uni">{{ i.modifiedDate}} at {{ i.modifiedTime}}</p>
                </ion-item>
                <hr style=" display: block; margin: 0px 3px 0px 3px; border: none; background-color: lightgrey">

                <ion-card-content style="padding: 5px 15px 0px 15px;">
                    <ion-card-title>
                        <p class="uni" *ngIf="!i.showread" tappable (click)="continue(i)" [innerHTML]="i.t2"></p>
                        <!--{{i.t2}}-->
                        <p class="block-with-text uni" *ngIf="i.showread" tappable (click)="continue(i)" [innerHTML]="i.t2"></p>
                        <!--{{i.t2}}-->
                        <p *ngIf="i.showread" style="color: #ACA2A2;font-size:1.6rem;" tappable (click)="continue(i)">
                            Continued Reading</p>

                        <div class="video-container" tappable (click)="goVideoDetail(i)" *ngIf="(i.t8 || i.videoStatus) && nores == 1">
                            <img id="projectplayer" src="{{videoImgLink}}{{i.videoLink}}" onError="this.src = 'assets/images/imgErr.png'" class="resize_fit_center" />
                            <!--class="resize"-->
                            <button class="play" style="position: absolute;right: 45%;bottom: 40%;">
                                <ion-icon name="play"></ion-icon>
                            </button>
                        </div>
                        <div class="video-container" *ngIf="(i.t8 || i.videoStatus) && nores == 0">
                            <div style="border: 1px darkgray solid; height: 180px; width: 100%;text-align: center;padding-top: 80px;">
                                <h4 style="color:#ccc;" class="uni">No Internet Connection </h4>
                            </div>
                        </div>
                    </ion-card-title>
                </ion-card-content>
                <!-- Show Photo -->
                <div *ngIf="i.t8 =='' && i.videoStatus == false" style="padding-bottom: 5px;">
                    <div class="container" *ngIf="i.uploadedPhoto.length == 1; let id = index" tappable (click)="singlePhoto(i.uploadedPhoto[0].t7)">
                        <!--style="padding: 5px; padding-bottom: 7px;" -->
                        <img src="{{i.uploadedPhoto[0].t7}}" class="resize_fit_center" onError="this.src = 'assets/images/imgErr.png'">
                    </div>
                    <div *ngIf="i.uploadedPhoto.length == 2; let id = index" tappable (click)="viewImage(i)">
                        <ion-row>
                            <ion-col>
                                <!--width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px">
                                <!--width-50>-->
                                <img src="{{i.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                        </ion-row>
                    </div>
                    <div *ngIf="i.uploadedPhoto.length == 3; let id = index" tappable (click)="viewImage(i)">
                        <ion-row>
                            <ion-col>
                                <!--width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px">
                                <!--width-50-->
                                <img src="{{i.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-top: -7px;padding-right: 5px;padding-left: 5px;">
                            <img src="{{i.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                        </ion-row>
                    </div>
                    <div *ngIf="i.uploadedPhoto.length == 4; let id = index" tappable (click)="viewImage(i)">
                        <ion-row>
                            <ion-col>
                                <!--width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px">
                                <!--width-50-->
                                <img src="{{i.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-top: -12px">
                            <!--style="margin-top: -5px;"-->
                            <ion-col style="padding-bottom: 0px;padding-bottom: 0px;">
                                <!--width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[2].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px;padding-bottom: 0px;">
                                <!--width-50-->
                                <img src="{{i.uploadedPhoto[3].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                        </ion-row>
                    </div>
                    <div *ngIf="i.uploadedPhoto.length == 5; let id = index" tappable (click)="viewImage(i)">
                        <ion-row>
                            <ion-col>
                                <!--width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px">
                                <!--width-50-->
                                <img src="{{i.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-top: -12px">
                            <!--style="margin-top: -5px;"-->
                            <ion-col style="padding-bottom: 0px;">
                                <!--style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px;padding-bottom: 0px;">
                                <!--style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[3].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px;padding-bottom: 0px;">
                                <img src="{{i.uploadedPhoto[4].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                        </ion-row>
                    </div>
                    <div *ngIf="i.uploadedPhoto.length > 5; let id = index" tappable (click)="viewImage(i)">
                        <ion-row>
                            <ion-col>
                                <!--width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[0].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px;">
                                <!--width-50-->
                                <img src="{{i.uploadedPhoto[1].t7}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-top: -12px">
                            <!--style="margin-top: -5px;"-->
                            <ion-col style="padding-bottom: 0px;">
                                <!--width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[2].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px;padding-bottom: 0px;">
                                <!-- width-50 style="padding-right: 3px;"-->
                                <img src="{{i.uploadedPhoto[3].t7}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                            </ion-col>
                            <ion-col style="padding-left:0px;padding-bottom: 0px;">
                                <!--width-50-->
                                <img src="{{i.uploadedPhoto[4].t7}}" class="blur-image" onError="this.src = 'assets/images/imgErr.png'">
                                <div class="my-overlay">
                                    <div class="positioner">
                                        <ion-icon class="icscon" name="ios-add" style="font-weight:bold;font-size: 20px;color: #fff;"></ion-icon>
                                        <span class="icscon1" style="font-size: 25px;">{{i.uploadedPhoto.length - 5}}</span>
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>

                <ion-row style="font-size: 1.5rem;margin-top: 5px;margin-bottom: 5px;">
                    <ion-col style="text-align: left;">
                        <span style="margin-left: 15px;color:#434eb2;" *ngIf="i.n2 > 0 " (click)="getLikePerson(i)">
                            <ion-icon name="ios-thumbs-up"></ion-icon>&nbsp;&nbsp;{{i.n2}}
                        </span>
                    </ion-col>
                    <ion-col style="text-align: right;">
                        <span *ngIf="i.n3 == 1" class="uni" style="color:#808080;margin-right: 15px;" (click)="comment(i,'comment')">{{i.n3}}&nbsp;Comment</span>
                        <span *ngIf="i.n3 > 1" class="uni" style="color:#808080;margin-right: 15px;" (click)="comment(i,'comment')">{{i.n3}}&nbsp;Comments</span>
                    </ion-col>

                </ion-row>

                <hr style=" display: block; margin: 0px 3px; border: none; background-color: lightgrey;">

                <ion-row>
                    <ion-col text-center style="padding: 0px;">
                        <!--margin-left: -70px-->
                        <button ion-button clear icon-right style="padding: 0px;" [disabled]='i.likeflag' tappable (click)="clickLike(i,j,k)">
                            <ion-icon *ngIf="i.showLike" name="ios-thumbs-up" color="mwalletbtn"></ion-icon>
                            <ion-icon *ngIf="!i.showLike " name="ios-thumbs-up" style="color:#bbb;"></ion-icon>

                            <span *ngIf="i.showLike"
                                style="text-transform: none; padding: 5px 0px 0px 3px;font-size: small; color:#434eb2;"
                                class="uni">{{textData[1]}}</span>
                            <span *ngIf="!i.showLike "
                                style="text-transform: none; color:#808080; padding: 5px 0px 0px 3px;font-size: small;"
                                class="uni">{{textData[1]}}</span>
                            <span *ngIf="i.n2 == 0"></span>

                        </button>
                    </ion-col>
                    <ion-col text-center style="padding: 0px;">
                        <!--margin-right:-45px-->
                        <button ion-button clear style="padding: 0px;" tappable (click)="comment(i,'comment')">
                            <ion-icon name="ios-text" style="color:#bbb; font-size: 23px;"></ion-icon>
                            <span
                                style="text-transform: none; color:#808080; padding: 3px 0px 0px 2px;font-size: small;"
                                class="uni">{{textData[2]}}</span>
                            <span *ngIf="i.n3 == 0"></span>

                        </button>
                    </ion-col>

                </ion-row>
            </ion-card>
        </div>
    </div>
    <h3 style="padding:50px;color:#ccc;font-size: 1.9rem;" *ngIf="nores == 0" align="center">
        <span class="uni">{{textData[4]}}</span>
    </h3>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="circles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>