<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">
            <span class="{{showFont}}">{{textData[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list style="margin-top: 0px">
        <ion-item style="padding-left: 0px">
            <ion-label floating><span class="{{showFont}}">{{textData[1]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="phone" disabled="true" class="{{showFont}}"></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0px">
            <ion-label floating><span class="{{showFont}}">{{textData[2]}}</span></ion-label>
            <ion-input type="text" class="{{keyboardfont}}" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0px">
            <ion-label floating><span class="{{showFont}}">{{textData[3]}}</span></ion-label>
            <ion-input type="password" [(ngModel)]="password" class="{{showFont}}"></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0px">
            <ion-label floating><span class="{{showFont}}">{{textData[4]}}</span></ion-label>
            <ion-input type="password" [(ngModel)]="passwordConfirm" class="{{showFont}}"></ion-input>
        </ion-item>
        <ion-fab center style="margin-top: 40px" tappable (click)="register()">
            <button ion-fab color="mwalletbtn">
        <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
        </ion-fab>
    </ion-list>
    <div style="color: #3b5998;margin-top: 125px;" class="row col-md-12">       
        <ion-row>
            <ion-col col-1>*</ion-col>
            <ion-col col-11>
                Require Minimum Length {{pdata.pswminlength}}, Maximum Length {{pdata.pswmaxlength}}
                <span *ngIf="pdata.spchar != 0">, Special Character {{pdata.spchar}}</span>
                <span *ngIf="pdata.upchar != 0">, Uppercase Character {{pdata.upchar}}</span>
                <span *ngIf="pdata.lowerchar != 0">, Lowercase Character {{pdata.lowerchar}}</span>
                <span *ngIf="pdata.pswno != 0">, Number {{pdata.pswno}}</span> .
            </ion-col>
        </ion-row>
    </div>
</ion-content>