<ion-content>
  <ion-list style="margin-bottom:0px;">
    <ion-item no-lines *ngFor="let d of popoverItemList" class="uni" tappable (click)="getAccess(d.key)" style="color:#6c6666">
      {{d.name}}
    </ion-item>
  </ion-list>
</ion-content>
