page-info {
    .scroll {
        overflow-y: scroll;
        display: block;
    }
    .rounded {
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 10px;
        margin-bottom: 10px; // background-color:#800000 ;
        // background-color:#AA1E38 ;
        // color: white;
        background-color: lightgray;
        color: black;
        text-align: center;
        width: 100%;
        height: 50px;
    }
    .rounded1 {
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 10px;
        margin-bottom: 10px; // background-color:#800000 ;
        background-color: lightgray;
        color: black; // background-color:#AA1E38 ;
        // color: white;
        text-align: left;
        width: 100%;
        height: 50px;
    }
    // .slider-pager {
    //     color: #000;
    // }
    // .slider-pager-page.active {
    //     color: red;
    // } //psst test
    .item-md-label input {
        z-index: 1;
        position: relative;
        bottom: 0;
    }
    .item-md-label .highlight {
        position: absolute;
        bottom: 0;
        height: 2px;
        left: 0;
        width: 100%;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: all 0.15s ease;
        transition: all 0.15s ease;
    } //psst add for toggle
    // .toogle{
    //   width: 70px;
    //   height: 20px;
    //   border-radius: 20px;
    //   top: 7px;
    //   left: 7px;
    // }
    // .alertD {
    //   border-radius: 20px !important;
    //   max-width: 400px !important;
    // }
    //psst added toggle
    .toggle .track {
        border-radius: 6px !important;
        width: 70px;
    }
    .toggle .handle {
        border-radius: 6px !important;
        width: 32px !important;
        height: 32px !important;
        top: 4px !important;
    } 

    .alert-radio-label {
        white-space: normal !important;
    }
    .swiper-pagination-bullets {
        bottom: 10% !important;
    }
    .slider-pager {
        color: #fff !important;
    }
    /* 
  .slider-pager-page.active {
    color: #008931 !important;
  } */
    .swiper-pagination-bullet-active {
        background: #3B5998 !important;

        opacity: 1;
    }
    
}