<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
	<ion-navbar >
		<ion-title id="custom_ion_title"  class="uni" >{{title}}</ion-title> 
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-slides pager (ionSlideDidChange)="slideChanged()">
		<ion-slide #slides class="scroll">
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[0]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.applicantdata.member_name" (ngModelChange)="inputChange($event)" readonly="true"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[1]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.applicantdata.nrc" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[2]}}</span>
				</ion-label>

				<ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="global.PersonData.applicantdata.dob" (ngModelChange)="inputChange($event)"></ion-datetime>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[3]}}</span>
				</ion-label>
				<!--<span class="{{font}}">-->
				<ion-select (touchstart)="touchRegion()" [(ngModel)]="global.PersonData.applicantdata.current_address_region" (ionChange)="RegionChange(global.PersonData.applicantdata.current_address_region)"
				 interface="popover">
					<ion-option *ngFor="let regLst of regionList" [value]="regLst.regionRefSyskey">{{regLst.description}} </ion-option>
				</ion-select>
				<!--</span>-->
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[4]}}</span>
				</ion-label>
				<!--<span class="{{font}}">-->
				<ion-select [(ngModel)]="global.PersonData.applicantdata.current_address_township" interface="popover">
					<ion-option *ngFor="let townLst of townshipList" [value]="townLst.townshipRefSyskey">{{townLst.description}} </ion-option>
				</ion-select>
				<!--</span>-->
			</ion-item>


		</ion-slide>

		<ion-slide #slides class="scroll">
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[5]}}</span>
				</ion-label>
				<ion-textarea class="{{changeFont}}" cursor [(ngModel)]="global.PersonData.applicantdata.current_address_street" (ngModelChange)="inputChange($event)">
				</ion-textarea>
			</ion-item>

			<ion-item id="itemline">\
				<ion-label floating>
					<span class="{{font}}">{{textdata[6]}}</span>
				</ion-label>
				<ion-input cursor type="text" [(ngModel)]="global.PersonData.applicantdata.mobile"   readonly="true"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[7]}}</span>
				</ion-label>
				<ion-input cursor type="text" [(ngModel)]="global.PersonData.applicantdata.email" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[8]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.applicantdata.company_name" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[9]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.applicantdata.department" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>
		</ion-slide>

		<ion-slide #slides class="scroll">
			<!--use toggle switch on /off-->
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[10]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.applicantdata.current_position" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[11]}}</span>
				</ion-label>
				<ion-input cursor type="number" [(ngModel)]="global.PersonData.applicantdata.years_of_service" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[12]}}</span>
				</ion-label>
				<ion-input cursor type="text" [(ngModel)]="global.PersonData.applicantdata.monthly_basic_income" (ngModelChange)="inputChange($event)"
				 #appMonthlyIncome (input)="appMonthlyIncome.value = format(global.PersonData.applicantdata.monthly_basic_income)"></ion-input>
			</ion-item>

			<ion-grid>
				<ion-row>
					<div (touchstart)="touch()" (touchend)="release()" style="width: 100%;">
						<ion-item style="color:gray">
							<ion-label>
								<span class="{{font}}">{{textdata[13]}}</span>
							</ion-label>
							<ion-toggle [(ngModel)]="isToggled" tappable (ionChange)="notify()"></ion-toggle>
						</ion-item>
					</div>

				</ion-row>
				<ion-row>
					<ion-item *ngIf="isToggled==true" id="itemline">
						<ion-label floating>
							<span class="{{font}}">{{textdata[14]}}</span>
						</ion-label>
						<ion-input cursor type="text" [(ngModel)]="global.PersonData.applicantdata.creditAmount" (ngModelChange)="inputChange($event)"
						 #appCreditAmount (input)="appCreditAmount.value = format(global.PersonData.applicantdata.creditAmount)"></ion-input>
					</ion-item>
				</ion-row>
				<ion-item id="itemline">
					<ion-label floating>
						<span class="{{font}}">{{textdata[17]}}</span>
					</ion-label>
					<ion-input cursor type="number" [(ngModel)]="global.PersonData.applicantdata.company_ph_no" (ngModelChange)="inputChange($event)"></ion-input>
				</ion-item>
			</ion-grid>

		</ion-slide>

		<!-- Gurantor Info -->
		<ion-slide #slides class="scroll">
			<!--psst test for Gaurator combo-->
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[88]}}</span>
				</ion-label>

				<ion-select [(ngModel)]="global.PersonData.guarantordata.syskey" (ionChange)="onSelectChange($event)" interface="popover">
					<ion-option *ngFor="let gau of GuranInfo" [value]="gau.syskey">{{gau.member_name}} </ion-option>
				</ion-select>
				<!--</span>-->
			</ion-item>

			<ion-item id="itemline" *ngIf="Newguran == 1">
				<ion-label floating>
					<span class="{{font}}">{{textdata[0]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.guarantordata.member_name" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>





			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[1]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.guarantordata.nrc" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[2]}}</span>
				</ion-label>
				<ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="global.PersonData.guarantordata.dob" (ngModelChange)="inputChange($event)"></ion-datetime>
			</ion-item>
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[3]}}</span>
				</ion-label>
				<!--<span class="{{font}}">-->
				<ion-select [(ngModel)]="global.PersonData.guarantordata.current_address_region" (ionChange)="RegionChangeGua(global.PersonData.guarantordata.current_address_region)"
				 interface="popover">
					<ion-option *ngFor="let regLstGua of regionListGua" [value]="regLstGua.regionRefSyskey">{{regLstGua.description}} </ion-option>
				</ion-select>
				<!--</span>-->
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[4]}}</span>
				</ion-label>
				<!--<span class="{{font}}">-->
				<ion-select [(ngModel)]="global.PersonData.guarantordata.current_address_township" interface="popover">
					<ion-option *ngFor="let townLstGua of townshipListGua" [value]="townLstGua.townshipRefSyskey">{{townLstGua.description}} </ion-option>
				</ion-select>
				<!--</span>-->
			</ion-item>

		</ion-slide>

		<ion-slide #slides class="scroll">
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[5]}}</span>
				</ion-label>
				<ion-textarea class="{{changeFont}}" cursor [(ngModel)]="global.PersonData.guarantordata.current_address_street" (ngModelChange)="inputChange($event)">
				</ion-textarea>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[6]}}</span>
				</ion-label>
				<ion-input cursor type="number" [(ngModel)]="global.PersonData.guarantordata.mobile" maxlength="11" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[7]}}</span>
				</ion-label>
				<ion-input cursor type="text" [(ngModel)]="global.PersonData.guarantordata.email" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>

			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[8]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.guarantordata.company_name" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[9]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.guarantordata.department" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>
		</ion-slide>

		<ion-slide #slides class="scroll">
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[10]}}</span>
				</ion-label>
				<ion-input class="{{changeFont}}" cursor type="text" [(ngModel)]="global.PersonData.guarantordata.current_position" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[11]}}</span>
				</ion-label>
				<ion-input cursor type="number" [(ngModel)]="global.PersonData.guarantordata.years_of_service" (ngModelChange)="inputChange($event)"></ion-input>
			</ion-item>
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[12]}} </span>
				</ion-label>
				<ion-input cursor type="text" [(ngModel)]="global.PersonData.guarantordata.monthly_basic_income" (ngModelChange)="inputChange($event)"
				 #guaBasicIncome (input)="guaBasicIncome.value = format(global.PersonData.guarantordata.monthly_basic_income)"></ion-input>
			</ion-item>


			<ion-grid class="Toggle">
				<ion-row>
					<div (touchstart)="touch()" (touchend)="release()" style="width: 100%;">
						<ion-item style="color:gray">
							<ion-label>
								<span class="{{font}}">{{textdata[13]}}</span>
							</ion-label>
							<ion-toggle [(ngModel)]="isGuaToggled" (ionChange)="notifyGua()"></ion-toggle>
						</ion-item>
					</div>
				</ion-row>
				<ion-row>
					<ion-item *ngIf="isGuaToggled==true" id="itemline">
						<ion-label floating>
							<span class="{{font}}">{{textdata[14]}}</span>
						</ion-label>
						<ion-input cursor type="text" [(ngModel)]="global.PersonData.guarantordata.creditAmount" (ngModelChange)="inputChange($event)"
						 #guaCreditAmount (input)="guaCreditAmount.value = format(global.PersonData.guarantordata.creditAmount)"></ion-input>
					</ion-item>
				</ion-row>
				<ion-item id="itemline">
					<ion-label floating>
						<span class="{{font}}">{{textdata[17]}}</span>
					</ion-label>
					<ion-input cursor type="number" [(ngModel)]="global.PersonData.guarantordata.company_ph_no" (ngModelChange)="inputChange($event)"></ion-input>
				</ion-item>
			</ion-grid>
		</ion-slide>





		<!-- Photo Upload -->
		<ion-slide #slides class="scroll">
			<ion-item>
				<ion-label class="{{font}}">{{textdata[42]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.frontnrcdata.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col style="margin-left: 0px; margin-top: 30px;">
					<!-- psst 8.8
						<button ion-button style="margin-left: 20px; margin-top: 30px; align: center; background-color: lightgray ;color: black ;width: 80px; height: 30px;"
					 tappable (click)="imageEdit('AppNRCFront')">
						<span class="{{font}}">{{textdata[60]}}</span>
					</button> -->



					<!-- <button ion-button style="margin-left: 20px; margin-top: 30px; align: center;color: black ;width: 80px; height: 30px;"
					 tappable (click)="imageEdit('AppNRCFront')"> -->
					<img style="width:20%" src="./assets/upload.png" (click)="imageEdit('AppNRCFront')" />
					<!-- <span class="{{font}}">{{textdata[60]}}</span> -->
					<!-- </button> -->
				</ion-col>
			</ion-row>

			<ion-item>
				<ion-label class="{{font}}">{{textdata[43]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.backnrcdata.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col style="margin-left: 0px; margin-top: 30px;">

					<!-- <button ion-button style="margin-left: 20px; margin-top: 30px; align: center;background-color: lightgray;color: black ;width: 80px; height: 30px;"
					 tappable (click)="imageEdit('AppNRCBack')">
						<span class="{{font}}">{{textdata[60]}}</span>
					</button> -->

					<img style="width:20%" src="./assets/upload.png" (click)="imageEdit('AppNRCBack')" />


				</ion-col>
			</ion-row>
		</ion-slide>

		<ion-slide #slides class="scroll">
			<ion-item>
				<ion-label class="{{font}}">{{textdata[44]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.guafrontnrcdata.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col style="margin-left: 0px; margin-top: 30px;">
					<!-- <button ion-button style="margin-left: 20px; margin-top: 30px; align: center;background-color: lightgray;color: black ;width: 80px; height: 30px;"
					 tappable (click)="imageEdit('GuaNRCFront')">
						<span class="{{font}}">{{textdata[60]}}</span>
					</button> -->

					<img style="width:20%" src="./assets/upload.png" (click)="imageEdit('GuaNRCFront')" />

				</ion-col>
			</ion-row>

			<ion-item>
				<ion-label class="{{font}}">{{textdata[45]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-row>
				<ion-col>
					<img src="{{global.guabacknrcdata.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
				</ion-col>
				<ion-col style="margin-left: 0px; margin-top: 30px;">
					<img style="width:20%" src="./assets/upload.png" (click)="imageEdit('GuaNRCBack')" />
				</ion-col>
			</ion-row>
		</ion-slide>

		<ion-slide #slides class="scroll">
			<ion-item id="itemline">
				<ion-label floating>
					<span class="{{font}}">{{textdata[50]}}</span>
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
				<ion-select text-wrap [(ngModel)]="global.regtype" (ionChange)="RegChange($event)" interface="popover">
					<ion-option *ngFor="let recom of recommendTypeData" [value]=recom.value>
						{{recom.descript}}
					</ion-option>
				</ion-select>
			</ion-item>

			<ion-item *ngIf="global.regtype==1">
				<ion-label class="{{font}}">{{textdata[46]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-item *ngIf="global.regtype==1">
				<ion-row>
					<ion-col>
						<img src="{{global.householdfrontdata.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
					</ion-col>
					<ion-col style="margin-left: 0px; margin-top: 30px;">
						<img style="width:20%" src="./assets/upload.png" (click)="imageEdit('HouseHoldFront')" />
					</ion-col>
				</ion-row>
			</ion-item>

			<ion-item *ngIf="global.regtype==1">
				<ion-label class="{{font}}">{{textdata[47]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-item *ngIf="global.regtype==1">
				<ion-row>
					<ion-col>
						<img src="{{global.householdbackdata.profile}}" style="width: 130px; height: 90px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
					</ion-col>
					<ion-col style="margin-left: 0px; margin-top: 30px;">
						<img style="width:20%" src="./assets/upload.png" (click)="imageEdit('HouseHoldBack')" />
					</ion-col>
				</ion-row>
			</ion-item>

			<ion-item *ngIf="global.regtype==2">
				<ion-label class="{{font}}">{{textdata[48]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-item *ngIf="global.regtype==2">
				<ion-row>
					<ion-col col-8>
						<img src="{{global.policecertificatedata.profile}}" style="width: 180px; height: 230px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
					</ion-col>
					<ion-col style="margin-left: 20px; margin-top: 70px;">
						<img style="width:50%" src="./assets/upload.png" (click)="imageEdit('PoliceCertificate')" />
					</ion-col>
				</ion-row>
			</ion-item>
		</ion-slide>

		<ion-slide #slides class="scroll">
			<ion-item>
				<ion-label class="{{font}}">{{textdata[49]}}
					<span style="color:red;">*&nbsp;</span>
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-row>
					<ion-col col-8>
						<img src="{{global.employmentletterdata.profile}}" style="width: 180px; height: 230px;border:1px solid #000000;" onError="this.src = 'assets/img5.jpg'">
					</ion-col>
					<ion-col style="margin-left: 20px; margin-top: 70px;">
						<img style="width:50%" src="./assets/upload.png" (click)="imageEdit('EmploymentLetter')" />
					</ion-col>
				</ion-row>
			</ion-item>
			<div align="center" *ngIf="global.startshop==0">
				<ion-buttons>
					<button ion-button color="mwalletbtn" block tappable (click)="NextApplicant(global.PersonData)">
						<span class="{{font}}">{{textdata[39]}}</span>
					</button>
				</ion-buttons>
			</div>
			<div align="center" *ngIf="global.startshop==1 || global.startshop==2">
				<ion-buttons>
					<button ion-button color="mwalletbtn" block tappable (click)="LoanApply()">
						<span class="{{font}}">{{textdata[89]}}</span>
					</button>
				</ion-buttons>
			</div>
		</ion-slide>
	</ion-slides>
</ion-content>