page-select-participant {
  ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
    }
  }
  /*.toolbar-background-md {
    border-color: #b2b2b2;
    background: none;
  }*/

  .item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 9px 20px 9px 4px;
  }

  .toolbarcus {
    background: #f8f8f8;
    padding: 0px;
    padding-top:5px;
  }
}
