<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">Select Contacts</ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="createGroup()" [disabled]="isenabled">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar style="padding: 0px;">
    <div class="toolbarcus">
      <ion-scroll scrollX style="height: 50px; margin-bottom: 5px;">
        <span class="scroll-item" *ngFor="let d of selectedContacts" style="padding-left: 5px; padding-right: 5px; margin-top:3px;">
          <img *ngIf="d.select == 1 && d.t18!='' && d.t18!='user-icon.png'" item-left src="{{imgLink}}/{{d.t18}}" onError="this.src = 'assets/images/user-icon.png'"
            style="width: 42px; height: 42px; border-radius: 50%; object-fit: cover;">
          <text-avatar [text]="d.t2" item-left *ngIf="d.select == 1 && (d.t18=='' || d.t18=='user-icon.png')"></text-avatar>
        </span>
        <!--<span  class="scroll-item" *ngFor="let d of selectedContacts" style="padding-left: 5px; padding-right:5px;margin-top:3px;">
                <img *ngIf="d.select == 1" item-left src="{{imgLink}}/{{d.t18}}" onError="this.src = 'assets/images/user-icon.png'" style="width:45px;height: 45px;border-radius: 50%;object-fit: cover;">
             </span>-->
      </ion-scroll>
      <ion-row>
        <ion-col>
          <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="padding-top: 5px;" *ngIf="isLoading">
    <div align="center">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  </div>
  <div *ngIf="dataResult=='yes'">
    <!--<ion-item-group *ngFor="let r of UserList; let j=index">
        <ion-row style="background:#eee">
        <div style="padding-top: 3px; padding-bottom: 3px; padding-left: 20px; color: #f47957;">{{r.t4}}</div>
      </ion-row>-->
    <ion-item *ngFor="let a of UserList;let k=index">
      <!--  <ion-checkbox color="chat" checked="true" [disabled]="a.disable"  *ngIf="a.select == 1"></ion-checkbox>-->
      <ion-checkbox color="custom" (click)="select(a.t2, a.syskey,k)" [disabled]="a.disable" [checked]="a.select"></ion-checkbox>
      <!-- <img item-left src="{{imgLink}}/{{a.t18}}" onError="this.src = 'assets/images/user-icon.png'" style="width:45px;height: 45px;border-radius: 50%;object-fit: cover;">-->
      <text-avatar [text]="a.t2" item-left *ngIf="a.t18=='' || a.t18=='user-icon.png'"></text-avatar>
      <img item-left src="{{imgLink}}/{{a.t18}}" *ngIf="a.t18!='' && a.t18!='user-icon.png'" onError="this.src = 'assets/images/user-icon.png'"
        style="width: 42px; height: 42px; border-radius: 50%; object-fit: cover;">
      <ion-label>
        <span>{{a.t2}}</span>
        <p>{{a.t1}}</p>
      </ion-label>
    </ion-item>
    <!--</ion-item-group>-->
  </div>
  <div *ngIf="dataResult=='no'" align="center">
    <h3 style="padding:50px;color:#ccc;">
      <span>No contact found!</span>
    </h3>
  </div>
</ion-content>
