<ion-header>
    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title" class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="background-color: #eeedf2">    

    <ion-card *ngFor="let type of billerType" tappable (click)="goPay(type)" style="border-radius: 5px;">
        <ion-item>
            <p>{{type}}<br></p>
        </ion-item>
    </ion-card>
</ion-content>
