<ion-header>
  <ion-navbar  >     
      <ion-title id="custom_ion_title"  class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item tappable (click)="getNext('a')" detail-push>
        <ion-icon name="ios-cash-outline" item-left color="mwallet"></ion-icon>
        <span  class="uni" style="color:#444;">
    {{showFont[1]}}</span>
    </ion-item>
      <!--<ion-item tappable (click)="getNext('b')" detail-push>
          <ion-icon name="ios-cash" item-left color="shwe"></ion-icon>
          <span class="uni" style="color:#444;">{{textData[1].title}}</span>
      </ion-item>-->     
</ion-content>