page-main-blank-page {
  .resize {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
  }

  .img-wrap1 {
    position: relative;
    display: inline-block;
    font-size: 0;
    width:100%;
  }
  .img-wrap1 .close {
    position: absolute;
    right: 0.4px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 7px 5px;
    cursor: pointer;
    opacity: .7;
    border-bottom-left-radius: 20%;
  }
  .img-wrap1:hover .close {
    opacity: 1;
  }

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #444;
  }
  .card-md {
    margin: 5px 5px 5px 5px;
    width: calc(100% - 10px);
    height: 32%;
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  div.wrapper{
    float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
  }

  div.description{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color: black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
  }
  p.description_content{
    padding:10px;
    margin:0px;
  }

  .card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #e6e9ee;
    -webkit-box-shadow: inset 0 -1px 0 0 #e6e9ee;
    box-shadow: inset 0 -1px 0 0 #e6e9ee;
  }

}
