<!--
  Generated template for the LikepersonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni"><span class="uni">People who reacted</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of personData">
      <img item-left src="{{photoLink}}/{{a.img}}" *ngIf="a.img != '' && a.img !=null &&  a.img != 'user-icon.png'"  style="width:45px;height: 45px;border-radius: 50%;object-fit:cover;" onError="this.src = 'assets/images/user-icon.png'">
      <text-avatar [text]="a.name" item-left *ngIf="a.name !='' && (a.img == '' || a.img ==null ||  a.img == 'user-icon.png')" ></text-avatar>
      <text-avatar text="B2B" item-left *ngIf="a.name =='' && (a.img == '' || a.img ==null || a.img == 'user-icon.png')"></text-avatar>
      <h3 style="font-weight: bold;padding-left: 5px;padding-top:5px;" class="uni" *ngIf="a.name">{{a.name}}</h3>
      <h3 style="font-weight: bold;padding-left: 5px;padding-top:5px;" class="uni" *ngIf="a.name == ''">Unknown User</h3>
    </ion-item>
  </ion-list>
</ion-content>