<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
        <ion-buttons end>
            <!-- <button ion-button icon-only tappable (click)="presentPopover($event)">
                <ion-icon name="md-more"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles" refreshingText="">
        </ion-refresher-content>
    </ion-refresher>
    <div style="padding-top: 5px;" *ngIf="isLoading">
        <div align="center">
            <ion-spinner name="circles"></ion-spinner>
        </div>
    </div>

    <div *ngIf="nores == 1" align="center">
        <ion-item-group *ngFor="let r of chatList" class="uni">
            <div *ngIf="r.t16!='admin'">
                <ion-item *ngFor="let d of r.data | orderBy: 'n1' : true" tappable (click)="viewChat(d)">
                    <ion-row *ngIf="d.person.length ==2" item-left>
                        <text-avatar *ngIf="d.t18 == ''" [text]="d.t2" style="background-color: #434eb2 !important;">
                        </text-avatar>
                        <ion-avatar *ngIf="d.t18 != ''">
                            <img src="{{profileImageLink}}{{d.t18}}" onError="this.src = 'assets/images/user-icon.png'">
                        </ion-avatar>
                    </ion-row>
                    <ion-row *ngIf="d.person.length == 1" item-left>
                        <text-avatar *ngIf="d.t18 == ''" [text]="d.t2" style="background-color: #434eb2 !important;">
                        </text-avatar>
                        <ion-avatar *ngIf="d.t18 != ''">
                            <img src="{{profileImageLink}}{{d.t18}}" onError="this.src = 'assets/images/user-icon.png'">
                        </ion-avatar>
                    </ion-row>

                    <ion-row *ngIf="d.person.length > 2" item-left>
                        <ion-col style="padding: 0px;">
                            <ion-row>
                                <img id="first-half" src="{{profileImageLink}}/{{d.person[0].t18}}" onError="this.src = 'assets/images/user-icon.png'">
                            </ion-row>
                        </ion-col>
                        <ion-col style="padding: 0px;">
                            <ion-row>
                                <img id="second-upper" src="{{profileImageLink}}/{{d.person[1].t18}}" onError="this.src = 'assets/images/user-icon.png'">
                            </ion-row>
                            <ion-row>
                                <img id="second-bottom" src="{{profileImageLink}}/{{d.person[2].t18}}" onError="this.src = 'assets/images/user-icon.png'">
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <h3 style="font-weight: bold; padding-left: 5px;">{{d.t2}}</h3>
                    <ion-icon name="ios-camera-outline" style="font-size: 1.2em; padding-left: 6px;" *ngIf="d.t3=='' && d.isGroup==0"></ion-icon>
                    <p style="padding-left: 5px; display: inline-block; font-size: 1.2rem; vertical-align: text-top;" *ngIf="d.t3=='' && d.isGroup==0">
                        Photo Message</p>
                    <p style="padding-left: 5px; display: inline-block; font-size: 1.2rem; vertical-align: text-top;" *ngIf="d.t3=='' && d.isGroup==1">
                        No message found!</p>
                    <p style="padding-left: 5px;" *ngIf="d.t3!=''">{{d.t3}}</p>
                    <p item-right>{{d.modifiedDate}}</p>
                </ion-item>
            </div>
        </ion-item-group>
    </div>

    <div *ngIf="nores == 0" align="center">
        <h3 style="padding:50px;color:#ccc;">
            <span>No messages found!</span>
        </h3>
    </div>
</ion-content>