<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
    <button style="font-size: 1em; width: 65%;" color="mwalletbtn" ion-button tappable (click)="scanQR()">{{textData[1] }}</button>
  </div>
  <!-- <div class="uni" align="center" style="padding-bottom: 30px;">
    <button style="font-size: 1em; width: 65%;" color="mwalletbtn" ion-button tappable (click)="goPayment()">{{textData[2] }}</button>
  </div> -->
  <!-- <div align="center">
    <a tappable (click)="goPayment()">
      {{textData[2]}}
    </a>
  </div> -->
</ion-content>
