<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[2]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list style="margin-top: -5%;">
    <ion-item tappable (click)="clickchange(0)"  detail-push style="padding-left: 0%;">
        <span class="uni">{{textData[0]}}</span>
    </ion-item>
    <ion-item tappable (click)="clickchange(1)" detail-push style="padding-left: 0%;">
        <span class="uni">{{textData[1]}}</span>
    </ion-item>
  </ion-list>
</ion-content>