<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="mwalletbtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="custom_ion_title" class="uni">{{showFont[0]}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list style="border:1px solid rgba(0, 0, 0, 0.08);padding:6px 0px 6px 0px;margin-bottom: 0px;">
    <div>
      <ion-item *ngFor="let _obj of carryData">
        {{_obj.description}}
      </ion-item>
    </div>
  </ion-list>
</ion-content>