<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">QR</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row>
      <ion-col col-12>
        <div align="center" style="padding: 10px;">QR value is</div>
        <div style="padding: 10px;">
          <p>{{qrValue}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
