<ion-content>
  <ion-item-group>
    <!-- <ion-item-divider class="uni" style="font-size: 1.7rem;padding-top:0px;padding-left:0px;text-align:center;">
      Settings
    </ion-item-divider> -->
    <!-- <ion-list>
      <ion-item class="uni" [attr.detail-push]="showArrow(item) ? '' : null" *ngFor="let item of popoverItemList"
        tappable (click)="setSelectedTitle(item)" no-lines>
        {{item.name}}
      </ion-item>
    </ion-list>  -->


    <ion-item class="uni" [attr.detail-push]="showArrow(item) ? '' : null" *ngFor="let item of popoverItemList" tappable
      (click)="setSelectedTitle(item)" no-lines>
      {{item.name}}
    </ion-item>
  </ion-item-group>
</ion-content>