<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>       
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item style="padding-right: 16px;">
            <ion-label floating>
                <span class="{{showFont}}">{{textData[1]}}</span>
                <span style="color:red;">*</span>
            </ion-label>
            <ion-input type="password" [(ngModel)]="oldPassword" class="{{showFont}}"></ion-input>
        </ion-item>
        <ion-item style="padding-right: 16px;">
            <ion-label floating>
                <span class="{{showFont}}">{{textData[2]}}</span>
                <span style="color:red;">*</span>
            </ion-label>
            <ion-input type="password" [(ngModel)]="newPassword" class="{{showFont}}"></ion-input>
        </ion-item>
        <ion-item style="padding-right: 16px;">
            <ion-label floating>
                <span class="{{showFont}}">{{textData[3]}}</span>
                <span style="color:red;">*</span>
            </ion-label>
            <ion-input type="password" [(ngModel)]="passwordConfirm" class="{{showFont}}"></ion-input>
        </ion-item>
        <div id="div-error-style" align="center" style="color: red;" *ngIf="errormsg">{{errormsg}}</div>
        <div class="{{showFont}}" align="center" style="padding-top: 40px; padding-bottom: 30px;">
            <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="updatePassword()">
        {{textData[4]
        }}
      </button>
        </div>
    </ion-list>
    <div style="color: #3b5998;" class="row col-md-12">  
        <br>
        <ion-row>
            <ion-col col-1>*</ion-col>
            <ion-col col-11>
                Require Minimum Length {{pdata.pswminlength}}, Maximum Length {{pdata.pswmaxlength}}
                <span *ngIf="pdata.spchar != 0">, Special Character {{pdata.spchar}}</span>
                <span *ngIf="pdata.upchar != 0">, Uppercase Character {{pdata.upchar}}</span>
                <span *ngIf="pdata.lowerchar != 0">, Lowercase Character {{pdata.lowerchar}}</span>
                <span *ngIf="pdata.pswno != 0">, Number {{pdata.pswno}}</span> .
            </ion-col>
        </ion-row>
    </div>

</ion-content>