.menu-header {
    background-image: url('../assets/three-bk.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0px;
    min-height: 150px;
}

.menu-headerforothr {
    background-image: url('../assets/img6.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0px;
    min-height: 200px;
}

.menu-bottom {
    bottom: 0;
    left: 16px;
    right: 16px;
    position: absolute;
}

.menu-text {
    color: #fff;
    margin-top: 15px;
    margin-left: 20px;
}

.avatar,
.item-avatar .avatar {
    background-position: center center;
    background-size: cover;
    border-radius: 30%;
    display: inline-block;
    height: 66px;
    left: 16px;
    position: absolute;
    width: 66px;
    opacity: 1;
    transform: translateZ(0px) rotate(0deg) scale(1) !important;
    transition: all 0.3s ease-out 0s !important;
    top: 26px;
    left: 26px;
}

.alert-md .alert-head {
    padding: 20px 24px 20px 24px;
    text-align: left;
}

.alert-md .alert-message {
    max-height: 240px;
    font-size: 16px;
}

.alert-md .alert-message,
.alert-md .alert-input-group {
    padding: 0 24px 10px 24px;
    color: rgba(0, 0, 0, 0.5);
}

.contact-popover .popover-content {
    top: 100px !important;
    left: 10% !important;
    height: 187px;
    width: 80%;
}

#custom_ion_title {
    text-align: center;
    // font-family: Unicode;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@mixin multiLineEllipsis($lineHeight: 1.6em,
$lineCount: 1,
$bgColor: white) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -2em;
    padding-right: 1em;
    &:before {
        content: '...';
        color: #ff934b;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 1em;
        background: $bgColor;
    }
}

.block-with-text {
    @include multiLineEllipsis($lineHeight: 2em, $lineCount: 3, $bgColor: white);
}

.toolbar-md {
    padding: 4px;
    min-height: 50px;
}

.selectable {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.slim-loading-bar {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}


/* Styling for the Slim Loading Progress Bar itself */

.slim-loading-bar-progress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0;
    /* Inherits the font color */
    height: 2px;
    opacity: 0;
    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media only screen and (min-device-width: 500px) {
    // default iPad screens 
    .menu-inner {
        width: 469px
    }
}

@media screen and (min-width: 769px) {
    .menu-inner {
        width: 569px
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
    /* STYLES HERE */
}


/* ion-navbar {//ios
    margin-top: -20px;
} */
.ion-ios-transaction-outline {
    content: url("../assets/wallet/transaction.png") !important;
    font-size: 5rem !important;
    width: 11%;
    height: 8%;
}
.ion-ios-cashpage-outline {
    content: url("../assets/wallet/cash.png") !important;
    font-size: 5rem !important;
    width: 11%;
    height: 8%;
}

.ion-ios-cash-outline {
    content: url("../assets/cash/cash-in.png") !important;
    font-size: 5rem !important;
    width: 11%;
    height: 8%;
}

.ion-ios-cash {
    content: url("../assets/cash/cash-out.png") !important;
    font-size: 5rem !important;
    width: 11%;
    height: 8%;
}

.ion-ios-bill {
    content: url("../assets/wallet/bill.png") !important;
    font-size: 5rem !important;
    width: 11%;
    height: 8%;
}

.ion-ios-util {
    content: url("../assets/wallet/qpay.png") !important;
    font-size: 5rem !important;
    width: 11%;
    height: 8%;
}

.ion-ios-scanqr {
    content: url("../assets/wallet/scanqr.png") !important;
    font-size: 5rem !important;
    width: 20%;
    height: 10%;
}

.ion-ios-myqr {
    content: url("../assets/wallet/myqr.png") !important;
    font-size: 5rem !important;
    width: 15%;
    height: 8%;
}

.ion-ios-transfer {
    content: url("../assets/wallet/transfer.png") !important;
    font-size: 5rem !important;
    width: 15%;
    height: 8%;
}

.ion-ios-topup {
    content: url("../assets/wallet/topup.png") !important;
    font-size: 5rem !important;
    width: 15%;
    height: 8%;
}