<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>   
    <ion-title id="custom_ion_title" class="uni">Choose Channels</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div style="padding-top: 5px;" *ngIf="isLoading">
    <div align="center">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  </div>

  <div *ngIf="nores == 1" align="center">
    <ion-item-group *ngFor="let r of chatList" class="uni">
      <div *ngIf="r.t16=='admin'">
        <ion-item *ngFor="let d of r.data | orderBy: 'n1' : true" tappable (click)="viewChat(d)" color="light">
          <!-- <text-avatar [text]="d.t2" item-left style="background-color: #1F4E8D !important;"></text-avatar> -->
          <ion-avatar item-left>
            <img src="assets/channelAdmin.png">
          </ion-avatar>
          <h3 style="font-weight: bold; padding-left: 5px;">{{d.t2}}</h3>
          <ion-icon name="ios-camera-outline" style="font-size: 1.2em; padding-left: 6px;" *ngIf="d.t3==''"></ion-icon>
          <p style="padding-left: 5px; display: inline-block; font-size: 1.2rem; vertical-align: text-top;" *ngIf="d.t3==''">
            Photo Message</p>
          <p style="padding-left: 5px;" *ngIf="d.t3!=''">{{d.t3}}</p>
          <p item-right>{{d.modifiedDate}}</p>
        </ion-item>
      </div>
    </ion-item-group>
  </div>

  <div *ngIf="nores == 0" align="center">
    <h3 style="padding:50px;color:#ccc;">
      <span>No messages found!</span>
    </h3>
  </div>
</ion-content>
