<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background-color:#ebf5f3;">
    <div style="padding-top: 5px;" *ngIf="isLoading">
        <div align="center">
            <ion-spinner name="circles"></ion-spinner>
        </div>
    </div>
    <ion-card>
        <ion-item>
            <ion-label stacked><span>{{textData[1]}}</span></ion-label>
            <ion-input #myInput type="Number" class="uni" [(ngModel)]="arr"></ion-input>
            <ion-icon name="contact" color="mwalletbtn" item-right style="font-size:40px" tappable
                (click)="enterContact()"></ion-icon>
        </ion-item>
    </ion-card>
    <div *ngIf="errormsg!=''" align="center" style="color: red;">{{errormsg}}</div>
    <div class="uni" align="center" style="padding-top: 30px; padding-bottom:40px">
        <button class="btn-size-sm" style="font-size: 1em;" color="mwalletbtn" ion-button tappable
            (click)="next()">Next</button>
    </div>
   
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
    </ion-refresher>
    <ion-item *ngIf="UserList.length>0"><span style="font-size:15px;">Contacts</span></ion-item>
    <ion-list>
        <ion-item *ngFor="let a of UserList" tappable (click)="chooseContact(a)">
            <ion-row item-left>
                <text-avatar *ngIf="a.t18 == '' || a.t18 == 'user-icon.png'" [text]="a.name" [text]="a.name"
                    style="background-color: #434eb2 !important;"></text-avatar>

                <ion-avatar *ngIf="a.t18 != '' && a.t18 != 'user-icon.png'">
                    <img src="{{profileImageLink}}{{a.t18}}" onError="this.src = 'assets/images/user-icon.png'">
                </ion-avatar>
            </ion-row>

            <h3 style="font-weight: bold;padding-left: 5px;">{{a.name}}</h3>
            <p style="padding-left: 5px;">{{a.phone}}</p>
        </ion-item>
    </ion-list>
    <ion-list></ion-list>
    <div *ngIf="nores == 0" align="center">
        <h3 style="padding:50px;color:#ccc;">
            <span>No Contacts found!</span>
        </h3>
    </div>
</ion-content>