<ion-content>
    <ion-header>
        <ion-navbar>
            <ion-title id="custom_ion_title" class="uni">
                <span>{{textData[6]}}</span>
            </ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content class="fbContent" style="background: #dddddd;">
        <div style="padding-top: 5px;" *ngIf="isLoading">
            <div align="center">
                <ion-spinner name="circles"></ion-spinner>
            </div>
        </div>

        <ion-card style="margin: 0px 0px 8px 0px !important; width: 100% !important;">
            <ion-card-content *ngIf="postTitle != ''">
                <div class="{{showFont}}">
                    <p class="uni " style="font-weight: bold;line-height:1.6;font-size:1.5rem;">{{detailData.t1}}</p>
                    <p style="padding-left: 0px;font-size:1.2rem;color: #808080;" class="uni">{{ detailData.modifiedDate}} at {{ detailData.modifiedTime}}</p>
                </div>
            </ion-card-content>
            <ion-card-content *ngIf="postTitle == ''">
                <div class="{{showFont}}">
                    <ion-item style="padding-left: 0 !important;">
                        <ion-avatar item-start>
                            <img *ngIf="detailData.userId == registerData.t1" src="{{profile}}" onError="this.src = 'assets/images/user-icon.png'">
                            <img *ngIf="detailData.userId != registerData.t1" src="assets/images/user-icon.png">
                        </ion-avatar>
                        <h2 class="uni" style="font-weight: bold; line-height: 1.6; font-size: 1.4rem;">{{detailData.userName}}</h2>
                        <p style="padding-left: 0px;font-size:1.2rem;color: #808080;" class="uni">{{ detailData.modifiedDate}} at {{ detailData.modifiedTime}}</p>
                    </ion-item>
                </div>
            </ion-card-content>
            <!--<ion-item>
           <p class="uni" style="font-weight: bold;line-height:1.6;font-size:1.4rem;">{{detailData.t1}}</p>
           <p style="padding-left: 0px;font-size:1.2rem;color: #808080;">{{ detailData.modifiedDate}} at {{ detailData.modifiedTime}}</p>
       </ion-item> -->

            <hr style=" display: block; margin: 0px 3px 0px 3px; border: none; background-color: lightgrey">
            <ion-card-content style="padding:0px !important;">

                <!--<p class="uni" style="font-weight: bold;line-height:1.5;font-size:1.5rem;">{{detailData.t1}}</p>
      <p style="font-family: ZawgyiOne;padding-left: 0px;font-size:1.2rem;color: #808080;">{{ detailData.modifiedDate}} at {{ detailData.modifiedTime}}</p>-->
                <p *ngIf="detailData.t2!=''" class="uni" style="padding:5px 13px;" [innerHTML]="detailData.t2"></p>
                <hr style=" display: block; margin: 0px 3px 0px 3px; border: none; background-color: lightgrey">
                <ion-row>
                    <ion-col text-center style="padding: 0px;">
                        <button ion-button clear icon-right style="padding: 0px;" tappable (click)="clickLike(detailData)">
              <ion-icon *ngIf="detailData.showLike" name="ios-thumbs-up" style="color: #434eb2;" ></ion-icon>
              <ion-icon *ngIf="!detailData.showLike" name="ios-thumbs-up" style="color: #bbb;" ></ion-icon>
              <span *ngIf="detailData.showLike" style="text-transform: none; color:#434eb2; padding: 5px 0px 0px 5px;font-size: small;" class="uni">{{textData[3]}}</span>
              <span *ngIf="!detailData.showLike" style="text-transform: none; color:#808080; padding: 5px 0px 0px 5px;font-size: small;" class="uni">{{textData[3]}}</span>
            </button>
                    </ion-col>

                    <ion-col text-center style="padding: 0px;" tappable (click)="comment(detailData)">
                        <button ion-button clear style="padding: 0px;">
              <ion-icon name="ios-text" style="color: #bbb; font-size: 23px;"></ion-icon>
              <span style="text-transform: none; color:#808080; padding: 3px 0px 0px 5px;font-size: small;" class="uni">{{textData[4]}}</span>
            </button>
                    </ion-col>

                    <!--<ion-col text-center style="padding: 0px;">
            <button ion-button clear icon-left tappable (click)="share(detailData)" style="padding: 0px;">
              <ion-icon name="share-alt" style="color: #bbb"></ion-icon>
              <span style="text-transform: none; color: #808080;font-size: small;" class="uni">{{textData[5]}}</span>
            </button>
          </ion-col>-->
                </ion-row>
            </ion-card-content>
        </ion-card>
        <span style="margin-top: 10px;margin-left: 15px;color: #434eb2;" *ngIf="detailData.n2 > 0 " (click)="getLikePerson(detailData)"><ion-icon name="ios-thumbs-up" ></ion-icon>&nbsp;&nbsp;{{detailData.n2}}</span>
        <ion-card style="margin: 0px 0px 8px 0px !important; width: 100% !important;border-radius: 0px;" *ngFor="let d of this.detailData.uploadedPhoto;let j = index">
            <ion-card-content style="padding-left:0px !important;padding-right:0px !important;margin-left:0px !important;margin-right:0px !important;">

                <div class="container">
                    <img src="{{d.t7}}" onError="this.src = 'assets/images/imgErr.png'" (click)="singlePhoto(d.t7)" class="resize_fit_center">
                    <!--{{photoLink}}-->
                </div>
                <p class=" text-with-block uni" *ngIf="d.showread && d.seeMore" style="padding-left: 13px;padding-right: 13px;" [innerHTML]="d.t5"></p>
                <p *ngIf="d.showread && d.seeMore" class="uni" (click)="seeMoreData(j)" style="padding-left: 13px;font-weight:bold;color: #bdbdbd;font-size:1.5rem">... See More</p>
                <p class=" uni" *ngIf="d.showread && !d.seeMore" style="padding: 10px 13px 0px 13px;" [innerHTML]="d.t5"></p>
                <p class=" uni" *ngIf="!d.showread && !d.seeMore" style="padding: 10px 13px 0px 13px;" [innerHTML]="d.t5"></p>
            </ion-card-content>
        </ion-card>
    </ion-content>