page-fbdetail {
  .fbContent{
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
      }

      .video-container iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .resize {
        height: 200px;
        width: 100%;
        max-width: 100%;
        max-height: 200px;
        display: inline-block;
        margin-right: auto;
        object-fit: cover;
        // margin-top: 10px;
      }
  }
  .card-md {
    //border-bottom: 1px lightgray solid;
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0;
    box-shadow: 0 !important;
  }
  .card-content-md {
    padding: 5px 16px;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .card-md p {
    margin: 4px 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
  }
  .list-md {
    margin: -1px 0 10px 0;
  }
  .label-md {
    margin: 8px 8px 0px 0;
  }
  .label-ios{
    margin: 0px 0px 0px 0;
  }
}
