
<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content style="background-color:#ebf5f3;">
  <ion-row>
    <ion-col style="text-align:center">
      <ion-icon name="ios-checkmark-circle-outline" style="color:#34a853;font-size:80px;"></ion-icon>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col style="text-align:center;" class="uni" class="uni">​{{textData[17]}} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align:center;">
      <h2 style="color:#434eb2">{{ammount}} {{textData[14]}}</h2>
    </ion-col>
  </ion-row>

  <ion-card class="card-md card-ios">
   
    <ion-item text-wrap>

      <ion-row>
        <ion-col col-6>
          <span class="uni">{{textData[6]}}</span>
        </ion-col>
        <ion-col col-6 text-right>
          <h2 style="font-weight:bold;color:rgb(49, 9, 9);">{{transactionDate|date: 'd MMM yyyy'}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item text-wrap>
    <ion-row>
        <ion-col col-6>
          <span class="uni">{{textData[11]}}</span>
        </ion-col>
        <ion-col col-6 text-right>
          <h2 style="font-weight:bold;color:rgb(49, 9, 9);">{{_obj.bankRefNo}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    
    <ion-item text-wrap>
    <ion-row>
        <ion-col col-6>
          <span class="uni">{{textData[13]}}</span>
        </ion-col>
        <ion-col col-6 text-right>
          <h2 style="font-weight:bold;color:rgb(49, 9, 9);">{{name}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
    <div align="center" style="padding-top: 20px; padding-bottom: 30px;" class="uni">
      <button class="btn-size-sm" style="font-size: 1em;" color="mwalletbtn" ion-button tappable (click)="goBackTwo()"
        full>{{textData[10] }}</button>
    </div>
</ion-content>
