<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>

    <ion-buttons end>
      <button ion-button clear (click)="doneEvent()">
        <span class="{{showFont}}">{{textData[1]}}</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div align="left" style="padding-left: 10px; padding-right: 10px;">
    <p style="font-weight: 500;" class="{{showFont}}">
      Who can see your post?
    </p>
    <p class="{{showFont}}">
      Your post will show up in News Feed, on your profile and in search results
    </p>
  </div>

  <ion-list radio-group [(ngModel)]="privacy" style="padding-left: 5px; padding-right: 5px;">
    <ion-item no-lines *ngFor="let p of Privacies;" style="border-bottom: 1px solid #8D949E;">
      <ion-radio item-left style="margin: 11px 15px 10px 4px !important;" value="{{p.syskey}}" tappable></ion-radio>
      <!-- <ion-item>
          <ion-avatar item-start>
              <ion-icon [name]="p.icon"></ion-icon>
          </ion-avatar>
          <h2 class="{{showFont}}" style="color: #000; margin: 0px;">{{p.name}}</h2>
          <p class="{{showFont}}" style="font-size: 12px; margin: 0px;">{{p.des}}</p>
        </ion-item> -->

        <ion-avatar item-start style="margin: 11px 10px 10px 4px !important; 
        text-align: center !important;
        min-width: 30px !important;
        min-height: 0px !important;">
            <ion-icon [name]="p.icon" style="font-size: 1.5em !important;
            color: #8D949E !important;"></ion-icon>
        </ion-avatar>
        <ion-label>
        <p class="{{showFont}}" style="color: #000; margin: 0px;">{{p.name}}</p>
        <p class="{{showFont}}" style="font-size: 12px; margin: 0px;">{{p.des}}</p>
      </ion-label>
      <!-- <ion-label>
        <ion-row align-items-center>
        <ion-col col-2>
          <ion-icon [name]="p.icon"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <p class="{{showFont}}" style="color: #000;margin: 0px;">{{p.name}}</p>

          <p class="{{showFont}}" style="font-size: 12px;margin: 0px;">{{p.des}}</p>
        </ion-col>
      </ion-row>
      </ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>