page-tag-choose {

  .radio-checked {
    border-color: #1f4e79 !important;
  }

  .radio-inner {
    background-color: #1f4e79 !important;
    width: 12px !important;
    height: 12px !important;
  }

  .item-radio-checked .label {
    color: #1f4e79 !important;
  }

  .ion-avatar {
    min-width: 0px !important;
    min-height: 0px !important;
  }

  .radio-icon {
    width: 20px !important;
    height: 20px !important;
  }

}
