$text-image-size: 4.2rem !default;

text-avatar {
  background-color: #6784dc;
  color: white;
  /* margin: 0px !important; */
}

text-avatar, text-avatar::after {
  width: $text-image-size;
  height: $text-image-size;
  border-radius: $text-image-size / 2;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: large;
  margin: 9px 8px 9px 0;
}

text-avatar::after {
  content: attr(value);
}
