<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="datafilter($event)">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title id="custom_ion_title" class="uni">{{showFont[0]}}</ion-title>
  </ion-navbar>

  <ion-toolbar mode="md" *ngIf="range == true">
    <ion-title>
      <ion-list style="margin-bottom: 0px;margin-top: 0px">
        <div>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating style="margin-top: 7px;"><span class="uni">{{showFont[13]}}</span></ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="fromDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating style="margin-top: 7px;"><span class="uni">{{showFont[14]}}</span></ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="toDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="float:right;">
            <button ion-button tappable (click)="goSearch()" style="margin-top: 1.5rem;" color="mwalletbtn">
              <span class="uni">{{showFont[15]}}</span>
            </button>
          </ion-row>
        </div>

      </ion-list>
    </ion-title>
  </ion-toolbar>

</ion-header>
<!-- <ion-content class="fixed-content">
  <div style="padding-bottom:50px;" *ngIf="status == 1">
    <ion-item-group *ngFor="let r of resultdata">
      <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;" sticky>
          {{r.txnDate}}
      </ion-item-divider>
      <ion-item *ngFor="let a of r.data" text-wrap tappable (click)="gotoDetail(a)">
          <h2  *ngIf="a.accRef == '1'" style="color:#337AB7;font-size:14px;">Wallet to Wallet Transfer</h2>
          <h2 *ngIf="a.accRef=='1'" style="font-size:14px;">{{a.txnTypeDesc}}</h2>
          <h2 style="float:right;font-weight:bold;color:#337AB7;font-size:15px;" *ngIf=" a.accRef=='1'">{{a.txnAmount}}&nbsp;MMK</h2> -->
<!-- <h2 style="float:right;font-weight:bold;color:#337AB7;" *ngIf="a.txnCode == '1' && a.accRef=='1'">{{a.txnAmount}}&nbsp;{{a.codTxnCurr}}</h2> -->

<!-- <h2  *ngIf="a.accRef == '2'" style="color:#337AB7;font-size:14px;">Merchant Payment Transfer</h2>
          <h2 *ngIf="a.accRef=='2'" style="font-size:14px;">{{a.txnTypeDesc}}</h2>
          <h2 style="float:right;font-weight:bold;color:#337AB7;font-size:15px;" *ngIf=" a.accRef=='2'">{{a.txnAmount}}&nbsp;MMK</h2>
          <h2 style="float:right;font-weight:bold;color:#337AB7;" *ngIf="a.txnCode == '1' && a.accRef=='2'">{{a.txnAmount}}&nbsp;{{a.codTxnCurr}}</h2> -->

<!-- <h2  *ngIf="a.accRef == '4'" style="color:#337AB7;font-size:14px;">Wallet Topup</h2>
          <h2 *ngIf="a.accRef=='4'" style="font-size:14px;">{{a.txnTypeDesc}}</h2>
          <h2 style="float:right;font-weight:bold;color:#337AB7;font-size:15px; " *ngIf=" a.accRef=='4'">{{a.txnAmount}}&nbsp;MMK</h2> -->
<!-- <h2 style="float:right;font-weight:bold;color:#337AB7;" *ngIf="a.txnCode == '1' && a.accRef=='4'">{{a.txnAmount}}&nbsp;{{a.codTxnCurr}}</h2> -->
<!-- </ion-item>
    </ion-item-group>
  </div>
  <div *ngIf="status == 0" align="center">
    <h3 style="padding:50px;color:#ccc;">
      <span class="uni">{{showFont[6]}}</span>
    </h3>
  </div>


</ion-content> -->
<ion-content mode="md" scroll="false">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <div>
    <ion-segment [(ngModel)]="type" mode="md" color="mwalletbtn">
      <ion-segment-button *ngFor="let data of transactiontype" class="uni" checked (click)="getType(data)" value="{{data}}">
        {{data}}
        <div *ngIf="type=='data'"></div>
      </ion-segment-button>
    </ion-segment>

  </div>
  <ion-scroll style="width:100%;height:80vh;" scrollY="true">
   
    <div *ngIf="type=='All'">
      <ion-item-group *ngFor="let r of resultdata">
        <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;" sticky>
          {{r.txnDate|date :'dd-MM-yyyy'}}
        </ion-item-divider>
        <div *ngFor="let b of r.data">
          <ion-item (click)="gotoDetail(b)" style="border-bottom: 0.5px solid #e4d9d9 !important;">
            <span class="{{showFont}}" style="color: #000;font-size:14px;">
              {{b.b}}</span>
            <span style="color:#337AB7;font-size:15px;float:right;" *ngIf="b.drcr=='2'"> {{b.txnAmount}}&nbsp;
              {{currency}}</span>
            <span style="color:#EE4141;font-size:15px;float:right;" *ngIf="b.drcr=='1'"> {{b.txnAmount}}&nbsp;
              {{currency}}</span><br>
            <span style="color:#a9a2a2;text-align:right;float:left;font-size:14px;">{{b.d}}</span>
            <span style="color:#a9a2a2;float:right;font-size:14px;">{{r.txnDate|date :'dd MMM'}}</span><br>
          </ion-item>
        </div>
      </ion-item-group>
    </div>

    <div *ngIf="type=='Payment'">
      <div *ngFor="let a of resultdata.data">
        <div *ngIf="a.drcr=='1'">
          <ion-item (click)="gotoDetail(a)" style="border-bottom: 0.5px #e4d9d9 !important;">
            <span class="{{showFont}}" style="color: #000;font-size:14px;">
              {{a.b}}</span>
            <span style="color:#EE4141;font-size:15px;float:right;"> {{a.txnAmount}}&nbsp;
              {{currency}}</span><br>
            <span style="color:#a9a2a2;text-align:right;float:left;font-size:14px;">{{a.d}}</span>
            <span style="color:#a9a2a2;float:right;font-size:14px;">{{a.txnDate|date :'dd MMM'}}</span><br>
          </ion-item>
        </div>
      </div>
    </div>


    <div *ngIf="type=='Receive'">
      <div *ngFor="let a of resultdata.data">
        <div *ngIf="a.drcr=='2'">
          <ion-item (click)="gotoDetail(a)" style="border-bottom: 0.5px #e4d9d9 !important;">
            <span class="{{showFont}}" style="color: #000;font-size:14px;">
              {{a.b}}</span>
            <span style="color:#337AB7;font-size:15px;float:right;"> {{a.txnAmount}}&nbsp;
              {{currency}}</span><br>
            <span style="color:#a9a2a2;text-align:right;float:left;font-size:14px;">{{a.d}}</span>
            <span style="color:#a9a2a2;float:right;font-size:14px;">{{a.txnDate|date :'dd MMM'}}</span><br>
          </ion-item>
        </div>
      </div>
    </div>

  </ion-scroll>
</ion-content>
<!-- <ion-footer *ngIf="passTemp.pageCount>1 && type=='All'">
  <ion-toolbar style="min-height: 50px;">
    <ion-buttons *ngIf="previous > 1">
      <button ion-button icon-only tappable (click)="previousData()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        <span class="uni">{{showFont[8]}}</span>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="passTemp.pageCount>next">
      <button ion-button icon-only tappable (click)="nextData()">
        <span class="uni">{{showFont[7]}}</span>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->