<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>
</ion-header>
<!-- <ion-content padding>
    <ion-row style="padding-right: 5px; padding-left: 5px;">
        <hr>
        <ion-col>

            <div class="wallet" tappable (click)="getNext('b')">
                <div align="center" style="width: 80%; margin-left: 10%;">
                    <img src="assets/wallet/bill.png" style="width:50%;height:50%;">
                    <span class="{{showFont}}">
                                <div class="ion-text" style="margin-top: -12.5%;">
                                    {{showFont[1]}}
                                </div>
                            </span>
                </div>

            </div>

        </ion-col>
        <ion-col>
            <div class="wallet" tappable (click)="getNext('a')">
                <div align="center" style="width: 80%; margin-left: 10%;">
                    <img src="assets/wallet/qpay.png" style="width:50%;height:50%;">
                </div>
                <span class="{{showFont}}">
                            <div class="ion-text" style="margin-top: -10%;padding-left: 30px;">
                                {{showFont[2]}}
                            </div>
                        </span>
            </div>
        </ion-col>

    </ion-row>
    <hr>

</ion-content> -->

<ion-content padding>
    <ion-item tappable (click)="getNext('b')" detail-push>
        <ion-icon name="ios-bill" item-left color="mwallet"></ion-icon>
        <span class="uni" style="color:#444;">{{showFont[1]}}</span>
    </ion-item>
    <ion-item tappable (click)="getNext('a')" detail-push>
        <ion-icon name="ios-util" item-left color="mwallet"></ion-icon>
        <span class="uni" style="color:#444;">{{showFont[2]}}</span>
    </ion-item>

    <ion-row style="padding-right: 5px; padding-left: 5px;">
        <hr>

    </ion-row>


</ion-content>