page-contact-list {
    ion-avatar img {
        width: 100% !important;
        height: 100% !important;
        margin-top: -3% !important;
      }
      ion-avatar {
        min-width: 40px !important;
        min-height: 40px !important;
        width: 40px !important;
        height: 40px !important;
        margin: 0px !important;
      }
      text-avatar, text-avatar::after{
        margin: 0 !important;
        min-width: 40px !important;
        min-height: 40px !important;
        width: 40px !important; 
        height: 40px !important;
      }
      ion-item {
        //border-bottom: 1px solid #dedede !important;
        margin-top: -5% !important;
      }
      .item-inner {
        border-bottom: 1px solid #dedede !important;
        padding-left: 11px !important;
      }
      ion-label {
        margin: 8px 6px 8px 0 !important;
      }
}
