page-scheduledetail {
    #label_font {
        padding: 5px 5px;
        font-size: 10px !important;
        color: map-get($colors, fontcolorone) !important;
    }
    #item_font_1 {
        padding: 5px 5px;
        font-size: 13px !important;
        font-weight: 500 !important;
        color: map-get($colors, pcone) !important;
    }
    #item_font_2 {
        padding: 5px 5px;
        font-size: 13px !important;
        font-weight: bold !important;
        color: map-get($colors, pctwo) !important; // color: #FFFF00; 
    }
    #item_font_3 {
        padding: 5px 5px;
        font-size: 13px !important;
        font-weight: bold !important;
        color: map-get($colors, pcthree) !important; // color: #9ACD32; 
    }
    .rounded {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 0px 30px 0px 30px;
        width: 88%;
    }
    #ion_card_setting {
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    } // origninal
    .circle {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 60%;
        left: 0;
        margin-top: -58%;
        text-align: center;
        z-index: 999999999999999;
        transform: translate(0px, 43px);
        color: #00008B !important;
    }
}