<!--
  Generated template for the ScheduledetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar >
		<ion-title id="custom_ion_title"  class="uni" >{{textdata[0]}}</ion-title> 

	</ion-navbar>
</ion-header>

<!-- original
	
	<ion-content padding>
	<div id="container" style="display: block;"> </div>
</ion-content> -->


<ion-content>
	<!-- <div id="container">
	</div>
	<div class="circle" *ngIf="flag == 1">
		Total Amount
		<br> {{totalAmt}}
		<br> MMK
	</div> -->
	<ion-card class="rounded" *ngIf="flag == 1">
		<div>
			<ion-card text-wrap id="ion_card_setting">
				<!-- <ion-row align-items-center>
					<ion-col col-4>
						<h2 id="label_font"> Total Amount : </h2>
					</ion-col>
					<ion-col col-8>
						<h2 id="item_font_1">{{totalAmt}} MMK </h2>
					</ion-col>
					<ion-col col-4>
						<h2 id="label_font">Repayment Amount : </h2>
					</ion-col>
					<ion-col col-8>
						<h2 id="item_font_2">{{repayAmt}} MMK </h2>
					</ion-col>
					<ion-col col-4>
						<h2 id="label_font"> Remaining Amount : </h2>
					</ion-col>
					<ion-col col-8>
						<h2 id="item_font_3">{{remainAmt}} MMK </h2>
					</ion-col>
				</ion-row> -->
				<ion-item-group *ngFor="let r of resultdata">
					<ion-item-divider color="light" style="font-weight: bold;font-size: 16px;" sticky>
					  {{r.txnDate|date :'dd-MM-yyyy'}}
					</ion-item-divider>
				<div *ngFor="let b of data">
					<ion-item  style="border-bottom: 0.5px solid #e4d9d9 !important;">
					  <span class="{{showFont}}" style="color: #000;font-size:14px;">
						{{b.monthlyamount}}</span>
					  <!-- <span style="color:#337AB7;font-size:15px;float:right;" *ngIf="b.drcr=='2'"> {{b.txnAmount}}&nbsp;
						{{currency}}</span>
					  <span style="color:#EE4141;font-size:15px;float:right;" *ngIf="b.drcr=='1'"> {{b.txnAmount}}&nbsp;
						{{currency}}</span><br>
					  <span style="color:#a9a2a2;text-align:right;float:left;font-size:14px;">{{b.d}}</span>
					  <span style="color:#a9a2a2;float:right;font-size:14px;">{{r.txnDate|date :'dd MMM'}}</span><br> -->
					</ion-item>
				  </div>
				  </ion-item-group>
			</ion-card>
		</div>
	</ion-card>
</ion-content>