page-schedule {
    .scroll {
        overflow-y: scroll;
        display: block;
    }
    .Nodata {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: lightgray;
    }
    .select-text {
        min-width: 150px;
        text-align: center;
    }
    #label_font {
        padding: 5px 5px;
        font-size: 10px !important; // color: map-get($colors, fontcolortwo) !important;
    }
    #item_font_1 {
        padding: 5px 5px;
        font-size: 13px !important;
        font-weight: 500 !important; // color: map-get($colors, fontcolorone) !important;
    }
    #item_font_2 {
        padding: 5px 5px;
        font-size: 13px !important;
        font-weight: bold !important; // color: map-get($colors, pctwo) !important;
    }
    #button_arrow_right {
        padding: 15px 15px;
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/cell-arrow-right-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: 100%;
    }
    #item-style {
        background: transparent;
        margin-left: 60%;
    }
    .second_card_setting_one {
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 10px !important;
        margin-top: 10px;
    }
    #second_item {
        border-bottom: 1px solid #dedede;
    }
    #second_divider {
        font-weight: bold;
        font-size: 16px;
        background-image: url('../assets/TransactionHistory_Bg.png');
        background-repeat: no-repeat;
        background-size: 100% 95%;
        border-bottom: 0px solid #dedede;
        border-top: 0px solid #dedede;
        padding-left: 13px;
    }
    #date_label {
        margin-left: 10px;
        color: map-get($colors, ncfthree) !important;
        font-weight: bold;
    }
}