<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
	<ion-navbar >
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title id="custom_ion_title"  class="uni" >{{textdata[1]}}</ion-title> 
	</ion-navbar>
</ion-header>

<!-- original
<ion-content padding>
	<ion-list *ngFor="let loan of loandata">
		<ion-card *ngIf="ExitLoan" (click)="nextPage(loan)">
			<ion-row align-items-center>
				<ion-col col-4 style="padding-left: 30px;">
					<div>
						<img style="width:70%" src="./assets/schedule_1.jpg" />
					</div>
				</ion-col>
				<ion-col col-6 style="padding-top: 30px;">
					<p>
						<span class="{{font}}"> {{textdata[1]}}</span>
					</p>
					<p>
						<b>
							<span class="{{font}}"> {{loan.loandata.loanid}}</span>
						</b>
					</p>

					<p>
						<span class="{{font}}"> {{textdata[2]}}</span>
					</p>
					<p>
						<b>
							<span class="{{font}}">{{loan.guarantordata.member_name}}</span>
						</b>
					</p>

				</ion-col>
				<ion-col col-2 align="center">
					<button id="button_arrow_right"></button>
				</ion-col>
			</ion-row>
		</ion-card>
	</ion-list>
	<ion-list *ngIf="!ExitLoan">
		<div class="Nodata">
			<span class="{{font}}">
				<b> {{textdata[4]}}</b>
			</span>
		</div>
	</ion-list>

	<ion-infinite-scroll *ngIf="checkScroll" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content> -->

<ion-content padding>
	<ion-card class="second_card_setting_one">
		<div *ngIf="ExitLoan ==1">
			<ion-item-group *ngFor="let loan of loandata" (click)="nextPage(loan)">
				<ion-item-divider id="second_divider">
					<ion-label id="date_label"> {{loan.loandata.loanAppliedDate}}
					</ion-label>
				</ion-item-divider>
				<ion-item>
					<ion-row align-items-center>
						<ion-col col-4 style="padding-left: 30px;">
							<div>
								<img style="width:70%" src="./assets/schedule_1.jpg" />
							</div>
						</ion-col>
						<ion-col col-6 style="padding-top: 30px;">
							<p>
								<span class="{{font}}"> {{textdata[1]}}</span>
							</p>
							<p>
								<b>
									<span class="{{font}}"> {{loan.loandata.loanid}}</span>
								</b>
							</p>

							<p>
								<span class="{{font}}">{{textdata[2]}}</span>
							</p>
							<p>
								<b>
									<span class="{{font}}"> {{loan.guarantordata.member_name}}</span>
								</b>
							</p>
						</ion-col>

						<ion-col col-2 align="center">
							<button id="button_arrow_right"></button>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-item-group>
		</div>

		<ion-item *ngIf="ExitLoan==0">
			<div class="Nodata">
				<span class="{{font}}">
					<b> {{textdata[4]}}</b>
				</span>
			</div>
		</ion-item>
	</ion-card>
	<ion-infinite-scroll *ngIf="checkScroll" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>