<!--
  Generated template for the QPaySuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title"><span class="uni">Merchant Pay Success</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md">
  <ion-card>
      <ion-card-header style="white-space: inherit;background:lightgreen;padding:20px;">
          <div align="center">
              Transaction successful.
          </div>

      </ion-card-header>
      <ion-item text-wrap>
          <p class="uni">Payee</p>
          <h2 style="float:left;font-weight:bold;color:#000;">{{userid}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p class="uni">Name</p>
          <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp2.name}}</h2>
      </ion-item>
      <hr>
      <!-- <ion-item text-wrap>
          <p class="uni">{{showFont[10]}}</p>
          <h2 style="float:left;font-weight:bold;color:#000;">{{amount}}&nbsp;MMK</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
        <p class="uni">Bank Charges</p>
        <h2 style="float:left;font-weight:bold;color:#000;">{{commAmt}}&nbsp;MMK</h2>
    </ion-item>
    <hr> -->
    <ion-item text-wrap>
      <p class="uni">Total Amount</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{totalAmt}}&nbsp;MMK</h2>
    </ion-item>
   <hr>
      <ion-item text-wrap>
        <p class="uni">Transaction Date</p>
        <h2 style="float:left;font-weight:bold;color:#000;">13-Feb-2020</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p class="uni">Description</p>
          <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp2.description}}</h2>
      </ion-item>      
  </ion-card>

  <div padding class="uni">
      <button mode="md" ion-button block type="button" tappable (click)="getOK()" style="margin-top:10px;" color="shwebtn">{{showFont[8]}}</button>
  </div>
</ion-content>

<!-- <div class="mycard">

  
  <ion-item text-wrap>
    <p>
        <span class="uni">{{showFont[15]}}</span>
    </p>
    <h2 style="font-weight:bold;color:#000;">{{merchantlist.account}}</h2>
  </ion-item>
  <hr>   
  <ion-item text-wrap>
    <p>
        <span class="uni">{{showFont[9]}}</span>
    </p>
    <h2 style="font-weight:bold;color:#000;">{{merchantlist.name}}</h2>
  </ion-item>
  <hr><ion-item text-wrap>
    <p>
        <span class="uni">{{showFont[10]}}</span>
    </p>
    <h2 style="font-weight:bold;color:#000;">{{merchantlist.amount}}</h2>
  </ion-item>
  <hr> <ion-item text-wrap>
    <p>
        <span class="uni">{{showFont[12]}}</span>
    </p>
    <h2 style="font-weight:bold;color:#000;">{{merchantlist.phoneNo}}</h2>
  </ion-item>
  <hr> 

</div> 
<ion-row style="margin: 0px 5px 0px 5px">
  <ion-col class="uni" col-6>
      <button mode="md" color="shwebtn" ion-button outline block tappable (click)="goCancel()" >
              {{showFont[5]}}
          </button>
  </ion-col>
  <ion-col class="uni" col-6>
      <button mode="md" color="shwebtn" ion-button block tappable (click)="payment()" >
              {{showFont[6]}}
          </button>
  </ion-col>
</ion-row> -->
