<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="custom_ion_title"  class="uni" *ngIf="type == 'Receive'">{{textData[0]}}</ion-title>  
    <ion-title id="custom_ion_title"  class="uni" *ngIf="type == 'Cash In'">{{textData[6]}}</ion-title>  
    <!-- <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title> -->
  </ion-navbar>
</ion-header> 
      <ion-content style="background-color:#ebf5f3;">
      <ion-card>
        <ion-row style="padding-left: 15px; padding-right: 15px;">
          <ion-col>
            <ion-list>
              <ion-item style="border-bottom: 1px solid gray !important;">
                <ion-grid no-padding item-content>
                  <ion-row>
                    <ion-col col-10> 
                      <ion-label floating><span class="uni">{{textData[1]}}</span></ion-label>
                      <ion-input class="uni" #myInput type="tel" onDrag="return false" onDrop="return false" onPaste="return false"
                      autocomplete=off [(ngModel)]="amount"></ion-input>
                    </ion-col>
                    <ion-col col-2>
                      <ion-label floating><span class="uni">&nbsp;</span></ion-label>
                      <ion-input  placeholder="MMK" readonly="true"></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <div *ngIf="errormsg1!=''" align="center" style="color: red;">{{errormsg1}}</div>
              <ion-item style="border-bottom: 1px solid gray !important;">
                <ion-label floating>
                  <span class="uni">{{textData[3]}}</span>
                </ion-label>
                <ion-input type="text" class="uni" [(ngModel)]="reference" (keyup)="keyUp($event)"></ion-input>
              </ion-item>
              <div *ngIf="errormsg2!=''" align="center" style="color: red;">{{errormsg2}}</div>
              <div class="uni" align="center" style="padding-top: 40px; padding-bottom: 30px;">
                <button class="btn-size" style="font-size: 1em;" color="mwalletbtn" ion-button tappable
                  (click)="printQR()">{{textData[2] }}</button>
              </div>w
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-card>
</ion-content>