page-reply-comment {

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    //height: 255px;
  }

  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;
    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px #f6863f;
      border-style: solid;
    }
  }
  .list-md {
    margin: -1px 0 10px 0;
  }
  .label-md {
    margin: 0px 0px 0px 0;
  }
  .label-ios {
    margin: 0px 0px 0px 0;
  }
  .item-md {
    padding-left: 8px;
  }
}
