<ion-header>
    <ion-navbar>
      <ion-title id="custom_ion_title" class="{{keyboardfont}}">{{textData[0]}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content style="background-color:#ebf5f3;">
    <div class="uni">
      <ion-card class="card-padd">
        <ion-item>
          <p>{{textData[3]}}</p>
          <h2 style="float: left; font-weight: bold; color: #000;">{{_obj.beneficiaryID}}</h2>
        </ion-item>
  
        <ion-item>
          <p>{{textData[1]}}</p>
          <h2 style="float: left; font-weight: bold; color: #000;">{{_obj.toName}}</h2>
        </ion-item>
  
        <ion-item>
          <p>{{textData[5]}}</p>
          <h2 style="float: left; font-weight: bold; color: #000;">{{ammount}}</h2>
        </ion-item>
  
        <!-- <ion-item *ngIf="remark_flag">
          <p>{{textData[12]}}</p>
          <p style="float: left; font-weight: bold; color: #000;">{{_obj.remark}}</p>
        </ion-item> -->
  
        <ion-row>
          <ion-col col-6>
            <div style="padding-bottom: 20px;">
              <button class="btn-size" style="font-size: 1em;" ion-button outline tappable (click)="goBack()" color="mwalletbtn">
                {{textData[10]}}
              </button>
            </div>
          </ion-col>
  
          <ion-col col-6 *ngIf="passPassword==1">
            <div>
              <button class="btn-size" style="font-size: 1em;" ion-button tappable (click)="presentPopoverContact($event)" color="mwalletbtn">
                {{textData[11]}}
              </button>
            </div>
          </ion-col>
          <ion-col col-6 *ngIf="passPassword==0" >
            <div >
              <button class="btn-size"  style="font-size: 1em;" ion-button tappable (click)="goConfrim()" color="mwalletbtn">
                {{textData[11]}}
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-content>
  
