<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textdata[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="white-space: inherit;background: #f53d3d;padding: 20px;">
      <div align="center">
        <span class="uni" style="color: #fff;">{{error}} </span>
      </div>
    </ion-card-header>
    <div class="uni" align="center" style="padding-top: 20px; padding-bottom: 30px;">
      <button class="btn-size-sm" style="font-size: 1em;" color="mwalletbtn" ion-button tappable (click)="goBackTransaction()">{{textdata[4] }}</button>
    </div>
  </ion-card>
</ion-content>