<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title" class="uni" style="color: red;">{{textData[0]}}</ion-title>
        <ion-buttons end>
            <button icon-only ion-button (click)="itemTapped()" style="margin-right: -30%">
                <ion-icon name="ios-notifications-outline"
                    style="position: relative; font-weight: bold; font-size: 30px; margin-right: 3px;">
                    <ion-badge
                        style="font-size: 11px; position: absolute; top: -9px; right: -9px; border-radius: 100%; "
                        color="mitnoti" *ngIf="shownoti">
                        {{count}}
                    </ion-badge>
                </ion-icon>       
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content style="background-color:#F5F5F5;">
    <ion-refresher (ionRefresh)="doRefresh($event)" style="background-color:#ebf5f3;">
        <ion-refresher-content class="{{showFont}}" pullingText={{textData[7]}} refreshingText="" pullingIcon="circles"
            refreshingSpinner="ios">
        </ion-refresher-content>
    </ion-refresher>
    <div style="background-color:#ebf5f3;">
        <!-- <ion-row style="background-color:#434eb2 !important;"> -->
        <ion-slides pager style="height: 75%;" speed="500">
            <ion-slide style="width: 100%!important;">

                <ion-row style="background-color:#434eb2 !important;">
                  
            <ion-col col-md-3>
                <div class="wallet" tappable (click)="goScan()">
                    <div align="center">
                        <!-- <img src="assets/wallet/payment.png" style="width:70%;height:50%;"> -->
                        <img src="assets/wallet/scanner2.png" class='walletsize' style="padding-top:3px;">
                    </div>
                    <span class="{{showFont}}">
                        <div class="ion-text" style="font-size:15px;color:white !important;">
                            {{textData[24]}}
                        </div>
                    </span>
                </div>
            </ion-col>
            <ion-col col-md-3>
                <div class="wallet" tappable (click)="goReceive(1)">
                    <div align="center">
                        <img src="assets/wallet/QR1.png" class='walletsize' style="padding-top:3px;">
                    </div>
                    <span class="{{showFont}}"> 
                        <div class="ion-text" style="font-size:15px;color:white !important;">
                            {{textData[25]}}
                        </div>
                    </span>
                </div>
            </ion-col>

            <ion-col col-md-3>
                    <div class="wallet" tappable (click)="gomenu(1)">
                        <div align="center">

                            <img src="assets/wallet/transfer1.png" class='walletsize' style="padding-top:3px;">

                            <span class="{{showFont}}">
                                <div class="ion-text" style="font-size:15px;color:white !important;">
                                    {{textData[1]}}
                                </div>
                            </span>
                        </div>
                    </div>
            </ion-col>
        
            <ion-col col-md-3>
                    <div class="wallet" tappable (click)="gomenu(11)">
                        <div align="center">
                            <img src="assets/wallet/bill3.png" class='walletsize' style="padding-top:3px;">
                            <span class="{{showFont}}">
                                <div class="ion-text" style="font-size:15px;color:white !important;">
                                    {{textData[22]}}
                                </div>
                            </span>
                        </div>
                    </div>
            </ion-col>
        </ion-row>
        </ion-slide>
        <ion-slide style="width: 100%!important;">
            <ion-row style="background-color:#434eb2 !important;">
                    <ion-col col-md-3>
                            <div class="wallet" tappable (click)="goReceive(2)">
                                <div align="center">
                                    <img src="assets/wallet/QR1.png" class='walletsize' style="padding-top:3px;">
                                </div>
                                <span class="{{showFont}}">
                                    <div class="ion-text" style="font-size:15px;color:white !important;">
                                        {{textData[37]}}
                                    </div>
                                </span>
                            </div>
                        </ion-col>
                <ion-col col-md-3>
                    <div class="wallet" tappable (click)="goScan()">
                        <div align="center">
                            <img src="assets/wallet/scanner2.png" class='walletsize' style="padding-top:3px;">
                        </div>
                        <span class="{{showFont}}">
                            <div class="ion-text" style="font-size:15px;color:white !important;">
                                {{textData[38]}}
                            </div>
                        </span>
                    </div>
                </ion-col>


                 <ion-col col-md-3>
                        <div class="wallet" tappable (click)="gomenu(1)">
                            <div align="center">
                            </div>
                        </div>
                </ion-col>
                <ion-col col-md-3>
                        <div class="wallet" tappable (click)="gomenu(11)">
                            <div align="center">
                            </div>
                        </div>
                </ion-col>
            </ion-row>
            </ion-slide>
            </ion-slides>
    
        <ion-row style="background: repeating-linear-gradient(#434eb2, #434eb2 49.9%, transparent 50.1%, transparent 100%);margin-top: -1px;">
            <ion-col col-md-12 style="padding-left: 0; padding-right: 0;">
                <ion-card style="border-radius:4px;">
                    <ion-item (click)="gomenu(17) ">
                        <ion-row style="color:#a9a2a2;font-size:14px;">{{textData[26]}}{{textData[27]}}</ion-row>
                        <ion-row>
                            <ion-col>{{global.amount }} {{textData[29]}}</ion-col>
                            <!-- <ion-col style="float:right">
                                <button ion-button outline block tappable (click)="topup()">{{textData[23]}}</button>
                            </ion-col> -->
                        </ion-row> 
                        <!-- <span><ion-icon name="eye-off" item-center color="mwalletbtn" style="font-size:1.4em;"  (click)="see()" *ngIf="global.seen"></ion-icon></span> -->
                       <!-- <span><ion-icon name="eye" item-center color="mwalletbtn"  style="font-size:1.4em;" (click)="unseen()" *ngIf="global.unseen"></ion-icon></span> -->

                     </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-card style="margin-top:1% !important">
                <ion-item style="border-bottom: 0.5px solid #f9f3f3 !important;">
                    <span style="color: #000;font-size:15px;font-weight: bold;"> {{textData[31]}} </span>
                </ion-item>
                <ion-item *ngIf="transactionflag" style="border-bottom: 0.5px solid #e4d9d9 !important;">
                    <span class="{{showFont}}" style="color: #000;font-size:14px;">
                        {{displayArray[1]}}</span>
                    <span style="color:#000;font-size:15px;float:right;"> {{resultdata.txnAmount}}
                        {{currency}}</span><br>
                    <span style="color:#a9a2a2;text-align:right;float:left;font-size:14px;">{{displayArray[3]}}</span>
                    <span
                        style="color:#a9a2a2;float:right;font-size:14px;">{{resultdata.txnDate|date: 'd MMM'}}</span><br>
                </ion-item>
                <ion-item *ngIf="!transactionflag" style="border-bottom: 0.5px solid #e4d9d9 !important;">
                    <p style="text-align:center;color:#a9a2a2;text-align:right;float:left;font-size:15px;">
                        {{textData[33]}}</p>
                </ion-item>
                <ion-item style="border-bottom: 0.5px solid #e4d9d9 !important;" (click)="gomenu(3) ">
                    <span class="{{showFont}}" style="color:#337AB7;font-size: 15px;"> {{textData[32]}}</span>
                </ion-item>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-card style="margin-top:3% !important;" (click)="gomenu(13)">
                <ion-item detail-push>
                    <ion-icon ios="ios-people" md="md-people" item-left color="mwallet"></ion-icon>
                    <span class="uni" style="color:#444;font-size:15px;font-weight:bold;">{{textData[34]}}</span>


                </ion-item>
            </ion-card>

            <!-- <ion-card style="margin-top:3% !important;" (click)="gomenu(16)">
                <ion-item detail-push>
                       <ion-icon ios="ios-people" md="md-people" item-left color="mwallet"></ion-icon>
                       <span class="uni" style="color:#444;font-size:15px;font-weight:bold;">{{textData[36]}}</span>
                   </ion-item>
               </ion-card> -->
        </ion-row>
        <ion-row>
            <ion-card style="margin-top:3% !important;">
                <ion-slides  autoplay="3000" loop="true" speed="1000" *ngIf="advertiseData.length > 0">
                     <ion-slide  *ngFor="let item of advertiseData">
                        <a href="http://{{item.link}}"><img src="{{item.logo}}" style="height:100%;width:100%;"></a>
                    </ion-slide>
                </ion-slides>
            </ion-card>
        </ion-row>
    </div>
</ion-content>