<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="goCamera()">
        <ion-icon ios="ios-camera" md="md-camera" style="font-size: 2.5em"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="nores_mydocs == 0" align="center">
    <h3 style="padding:50px;color:#ccc;">
      <span>{{textData[1]}}</span>
    </h3>
  </div>

  <div *ngIf='nores_mydocs==1'>
    <ion-list *ngFor="let p of photoList_mydocs">
      <ion-card tappable tappable (click)="imageInfo(p)">
        <ion-row align-items-center>
          <ion-col col-4>
            <div>
              <img style="width:85%" src="{{p.PhotoPath}}" />
            </div>
          </ion-col>
          <ion-col col-6 style="padding-top: 30px;">
            <h2 id="label_font">{{textData[2]}}</h2>
            <h2 id="item_font_1">{{p.name}}</h2>
            <h2 id="label_font">{{textData[3]}}</h2>
            <h2 id="item_font_2">{{p.CreateDate}}</h2>
          </ion-col>
          <ion-col col-2 align="center">
            <button id="button_arrow_right">
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
