page-edit-images {
  .img-wrap1 {
    position: relative;
    display: inline-block;
    font-size: 0;
    width:100%;
  }
  .img-wrap1 .close {
    position: absolute;
    right: 0.4px;
    z-index: 100;
    //background-color: rgba(255, 255, 255, 0);
    padding: 5px 7px 5px;
    cursor: pointer;
    opacity: .7;
    border-top-right-radius: 0%;
    color: #000;
  }
  .img-wrap1:hover .close {
    opacity: 1;
  }

  .resize {
    width: 100%;
    height: auto;
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    object-fit: cover;
  }

  .list-md {
    margin: 0;
  }

  .text-input-md {
    margin: 5px;
    padding-top: 10px;
    width: calc(100% - 8px - 8px);
  }
}
