<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>
        <ion-buttons end>
            <!-- <button ion-button icon-only tappable (click)="presentPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button> -->
            <button style="text-transform: none; width: 60px; border-color: white; color: white; background-color: transparent;" ion-button outline round tappable (click)="Done()">
        <span style="font-size: 1.7rem;">Done</span>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let img of passImages; let id = index">
        <div class="img-wrap1">
            <img src="{{img.name}}" alt="" style="display: initial;" class="resize" onError="this.src = 'assets/imgs/imgErr.png'">
            <ion-icon name="md-close" class="close" style="font-size:25px;top: 0px;padding-left:20px;padding-right:20px;right:0px;border-bottom-left-radius: 10%;border-top-left-radius: 0%;font-weight: 500" (click)="deletePhoto(id)"></ion-icon>
        </div>

        <ion-textarea class="{{keyboardfont}}" autosize text-wrap [(ngModel)]="img.desc" name="post" placeholder="{{textData[1]}}"></ion-textarea>
    </ion-list>

</ion-content>