<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>  
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="padding-top: 5px;" *ngIf="isLoading">
    <div align="center">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  </div>
  <ion-card>
    <ion-row style="padding-top: 15px;">
      <ion-col col-12>
        <div align="center" *ngIf="contactInfo.type=='user'">
          <img src="{{profileImageLink}}{{contactInfo.image}}" style="width: 100px; height: 100px;" onError="this.src = 'assets/images/user-icon.png'">
        </div>
        <div align="center" *ngIf="contactInfo.type=='admin'">
          <img src="{{contactInfo.image}}" style="width: 100px; height: 100px;" onError="this.src = 'assets/images/user-icon.png'">
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;">
      <ion-col>
        <ion-list>
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-input class="uni" disabled type="text" [(ngModel)]="contactInfo.phone"></ion-input>
          </ion-item>
          <!-- <hr> -->
          <ion-item style="border-bottom: 1px solid gray !important;">
            <ion-label floating>
              <span class="uni">{{textData[2]}}</span>
            </ion-label>
            <ion-input type="text" disabled class="uni" [(ngModel)]="contactInfo.name"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
