page-create-post {
  .input-wrap{
    padding: 0px 5px;

    ion-col.col{
      padding: 0;
    }

    button {
      width: auto;
      height: 33px;
      font-size: 12px;
      margin: 0;
      padding: 0px;
      color: #8D949E;
      border-radius: 5px;
      padding: 5px;
    }
  }

  .textArea {
    padding-left: 6px;
    line-height: 2.3rem;
    margin: 0px;
    font-size: 16px;
    color: #8D949E;
  }


  .button-round-md {
    border-radius: 8px;
    padding: 0;
  }

  .button-outline-md {
    border-width: 1px;
    border-style: solid;
    border-color: #8D949E;
    color: #8D949E;
    font-weight: bold;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .label-md {
    margin: 0px;
  }


  [icon-only] ion-icon {
    padding: 0;
    font-size: 1.3em;
    line-height: 2;
    pointer-events: none;
   }


  .footer-gird{
    padding: 0;

    ion-col.col{
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
  }


  /*for one photo*/
  .container{
    margin: 0px;
    width: 100%;
    /* height: 240px;*/
    /* line-height: 115px; */
    text-align: center;
  }
  .resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
  }

  /*two*/
  .resize {
    height: 170px;
    width: 100%;
    max-width: 100%;
    max-height: 170px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }

  /*three*/
  .resizegrid {
    height: 140px;
    width: 100%;
    max-width: 100%;
    max-height: 140px;
    display: inline-block;
    margin-right: auto;
    object-fit: cover;
    // margin-top: 10px;
  }

  /*four*/

  /*five*/

  /*greater five*/

  .positioner {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .icscon {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 32px;
    height: 32px;
  }

  .icscon1 {
    position: absolute;
    right: -38px;
    bottom: -15px;
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
  }

  /*not pull up*/
  ion-footer {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ccc;
    background-color: #fff;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 55px;
  }

  label, input, select, textarea {
    font-family: inherit;
    line-height: normal;
    text-transform: none;
  }

  .item-block {
    margin: 0;
    padding: 0;
    min-height: 35px;
  }

  .item-md .item-button {
    padding: 0 0.6em;
    height: 25px;
    font-size: 1.2rem;
    margin: 0px 8px 0px 0px;
    height: 30px;
  }

  .item-md {
    padding-left: 0;
    padding-right: 0;
  }

  .col {
    padding: 0px;
  }

  .text-input-md {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 100%;
  }

  .item-inner {
    border-bottom: 0px solid transparent !important;
  }
  // ::placeholder {
  //   font-size: 25px;
  // }
}
