<ion-header>
    <ion-navbar>
        <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>

        <ion-buttons end>
            <!-- <button ion-button icon-only tappable (click)="presentPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button> -->
            <button
                style="text-transform: none; width: 60px; border-color: white; color: white; background-color: transparent;"
                ion-button outline round tappable (click)="createPost()">
                <span style="font-size: 1.7rem;">{{textData[2]}}</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

    <!--header-->
    <ion-item>
        <ion-avatar item-start style="margin: 0; padding: 10px;">
            <img src="{{profile}}" style="width: 50px; height: 50px;"
                onError="this.src = 'assets/images/user-icon.png'">
        </ion-avatar>
        <h3 style="font-size: 16px; font-weight: bold;" class="{{showFont}}">{{userName}}</h3>
        <ion-item no-lines>
            <button ion-button outline item-left (click)="goTagChoose()" style="border-radius: 5px;">
                <div>
                    <ion-icon [name]="privacyIcon"></ion-icon>
                    <label class="{{showFont}}">{{privacyName}}</label>
                    <ion-icon name="md-arrow-dropdown"></ion-icon>
                </div>
            </button>

            <!-- <button ion-button outline (click)="goAlbumChoose()" style="border-radius: 5px;">
            <div>
              <ion-icon name="md-add"></ion-icon>
              <label>Album</label>
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </div>
          </button> -->
        </ion-item>
    </ion-item>
    <!-- <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-2 text-center>
        <ion-avatar item-start>
          <img src="{{profile}}" onError="this.src='assets/images/user-icon.png'">
        </ion-avatar>
      </ion-col>

      <ion-col col-10>
        <ion-row>
          <h3 style="margin: 0px;padding-top: 12px;font-size: 16px;font-weight: bold;">{{userName}}</h3>
        </ion-row>

        <ion-item no-lines>
          <button ion-button outline item-left (click)="goTagChoose()">
            <div>
              <ion-icon [name]="privacyIcon" ></ion-icon>
              <label>{{privacyName}}</label>
              <ion-icon name="md-arrow-dropdown"></ion-icon>
            </div>
          </button>

             <button ion-button outline (click)="goAlbumChoose()">
              <div>
                <ion-icon name="md-add"></ion-icon>
                <label>Album</label>
                <ion-icon name="md-arrow-dropdown"></ion-icon>
              </div>
            </button>
         </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid> -->
    <!--end header-->

    <ion-textarea class="{{keyboardfont}}" autosize text-wrap class="textArea" [(ngModel)]="postText" name="post"
        placeholder="{{textData[1]}}" style="color: black; padding-left: 15px; padding-right: 15px;"></ion-textarea>

    <!--Show photos-->
    <div *ngIf="photos.length > 0">

        <!--for one photo-->
        <div class="container" *ngIf="photos.length == 1; let id = index" (click)="viewImage(photos)">
            <img src="{{photos[0].name}}" class="resize_fit_center" onError="this.src = 'assets/images/imgErr.png'">
            <!-- <img *ngIf="photos[0].name!=''" src="{{photos[0].name}}" class="resize_fit_center" onError="this.src = 'assets/images/imgErr.png'">
     -->
        </div>

        <!--for two photos-->
        <div *ngIf="photos.length == 2; let id = index" (click)="viewImage(photos)">
            <ion-row>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!-- <img *ngIf="photos[0].name!=''" src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
         -->
                </ion-col>
                <ion-col width-50>
                    <img src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!-- <img *ngIf="photos[1].name!=''" src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
        -->
                </ion-col>
            </ion-row>
        </div>

        <!--for three photos-->
        <div *ngIf="photos.length == 3; let id = index" (click)="viewImage(photos)">
            <ion-row>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!-- <img *ngIf="photos[0].name!=''" src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
        -->
                </ion-col>
                <ion-col width-50>
                    <img src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!-- <img *ngIf="photos[1].name!=''" src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
         -->
                </ion-col>
            </ion-row>
            <ion-row>
                <img src="{{photos[2].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                <!-- <img *ngIf="photos[2].name!=''" src="{{photos[2].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
     -->
            </ion-row>
        </div>

        <!--for four photos-->
        <div *ngIf="photos.length == 4; let id = index" (click)="viewImage(photos)">
            <ion-row>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!-- <img *ngIf="photos[0].name!=''" src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
       -->
                </ion-col>
                <ion-col width-50>
                    <img src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!-- <img *ngIf="photos[1].name!=''" src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
     -->
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[2].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!--  <img *ngIf="photos[2].name!=''" src="{{photos[2].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
      -->
                </ion-col>
                <ion-col width-50>
                    <img src="{{photos[3].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!--  <img *ngIf="photos[3].name!=''" src="{{photos[3].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
     -->
                </ion-col>
            </ion-row>
        </div>

        <!--for five photos-->
        <div *ngIf="photos.length == 5; let id = index" (click)="viewImage(photos)">
            <ion-row>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!--  <img *ngIf="photos[0].name!=''" src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
      -->
                </ion-col>
                <ion-col width-50>
                    <img src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!--  <img *ngIf="photos[1].name!=''" src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
     -->
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="padding-right: 5px;">
                    <img src="{{photos[2].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    <!--     <img *ngIf="photos[2].name!=''" src="{{photos[2].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
    -->
                </ion-col>
                <ion-col style="padding-right: 5px;">
                    <img src="{{photos[3].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    <!--   <img *ngIf="photos[3].name!=''" src="{{photos[3].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
    -->
                </ion-col>
                <ion-col>
                    <img src="{{photos[4].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    <!--       <img *ngIf="photos[4].name!=''" src="{{photos[4].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
   -->
                </ion-col>
            </ion-row>
        </div>

        <!--for greater than five photos-->
        <div *ngIf="photos.length > 5; let id = index" (click)="viewImage(photos)">
            <ion-row>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!--  <img *ngIf="photos[0].name!=''" src="{{photos[0].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
    -->
                </ion-col>
                <ion-col width-50>
                    <img src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
                    <!--    <img *ngIf="photos[1].name!=''" src="{{photos[1].name}}" class="resize" onError="this.src = 'assets/images/imgErr.png'">
    -->
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[2].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    <!--     <img *ngIf="photos[2].name!=''" src="{{photos[2].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
     -->
                </ion-col>
                <ion-col width-50 style="padding-right: 5px;">
                    <img src="{{photos[3].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    <!--   <img *ngIf="photos[3].name!=''" src="{{photos[3].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
      -->
                </ion-col>
                <ion-col width-50>
                    <img src="{{photos[4].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
                    <!--   <img *ngIf="photos[4].name!=''" src="{{photos[4].name}}" class="resizegrid" onError="this.src = 'assets/images/imgErr.png'">
      -->
                    <div class="my-overlay">
                        <div class="positioner">
                            <ion-icon class="icscon" name="ios-add"
                                style="font-weight:bold;font-size: 20px;color: #fff;"></ion-icon>
                            <span class="icscon1">{{photos.length - 4}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <!--end photos-->
</ion-content>

<ion-footer>
    <ion-grid class="footer-gird">
        <ion-row align-items-center>
            <ion-col col-10 item-left>
                <p style="padding-left: 10px;">
                    Add to your post
                </p>
            </ion-col>
            <ion-col col-1 (click)="goCamera()" style="padding-right: 5px;">
                <button ion-button clear icon-only>
                    <ion-icon name="md-camera" style="color: #1f4e79;" color="vimeo"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-1 (click)="openImagePicker()" style="padding-right: 5px;">
                <button ion-button clear icon-only>
                    <ion-icon name="md-photos" style="color: #1f4e79;" color="conference"></ion-icon>
                </button>
            </ion-col>
            <!-- <ion-col col-1>
      <button ion-button clear icon-only>
        <ion-icon name="md-person-add" color="favorite"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-1>
      <button ion-button clear icon-only>
        <ion-icon name="md-pin" color="google"></ion-icon>
      </button>
    </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-footer>