<ion-header>
  <ion-navbar>
    <ion-title id="custom_ion_title" class="uni">{{textData[0]}}</ion-title>   
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="white-space: inherit;background: #34a853;padding: 20px;">
      <div align="center">
        <span class="uni" style="color: #fff;">{{title}}</span>
      </div>
    </ion-card-header>
    <ion-item text-wrap style="padding-top: 20px;">
      <p>
        <span class="uni">{{textData[3]}}</span>
      </p>
      <h2 style="font-weight: bold; color: #000;">{{today}}</h2>
    </ion-item>
    <div class="uni" align="center" style="padding-top: 10px; padding-bottom: 30px;">
      <button style="font-size: 1em; width: 130px;" color="mwalletbtn" ion-button tappable (click)="goBack()">{{textData[4] }}</button>
    </div>
  </ion-card>
</ion-content>
