<!--
  Generated template for the ShowStatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
	<ion-navbar >
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title id="custom_ion_title"  class="uni" >{{titledata[1]}}</ion-title> 
	
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label floating>
			<span class="{{font}}">{{titledata[6]}}</span>
		</ion-label>
		<ion-select [(ngModel)]="defaultStatus.Type" (ionChange)="onSelectChange($event)" interface="popover">
			<ion-option *ngFor="let Stu of textdata" [value]="Stu.type">{{Stu.descript}} </ion-option>
		</ion-select>
	</ion-item>

	<ion-card class="second_card_setting_one">
		<div *ngIf="ExitLoan == 1">
			<ion-item-group *ngFor="let loan of loandata" (click)="nextPage(loan)">
				<ion-item-divider id="second_divider">
					<ion-label id="date_label"> {{loan.loandata.loanAppliedDate}}
					</ion-label>
				</ion-item-divider>
				<ion-item>
					<ion-row align-items-center>
						<ion-col col-4>
							<div *ngIf="loan.loandata.status==3">
								<img style="width:70%" src="./assets/loanPending.png" />
								<h2>Pending</h2>
							</div>
							<div *ngIf="loan.loandata.status==7">
								<img style="width:70%" src="./assets/loanApprove.png" />
								<h2>Approved</h2>
							</div>
							<div *ngIf="loan.loandata.status==0">
								<img style="width:70%" src="./assets/loanReject.png" />
								<h2>Reject</h2>
							</div>
							<div *ngIf="loan.loandata.status==1">
								<ion-col offset-1>
									<img style=" width: 50%;margin-left: 10px;" src="./assets/loanPending.png" />
								</ion-col>
							</div>
						</ion-col>
						<ion-col col-6 style="padding-top: 30px;">
							<p>
								<span class="{{font}}"> {{titledata[2]}}</span>
							</p>
							<p>
								<b>
									<span class="{{font}}"> {{loan.loandata.loanid}}</span>
								</b>
							</p>

							<p>
								<span class="{{font}}"> {{titledata[3]}}</span>
							</p>
							<p>
								<b>
									<span class="{{font}}"> {{loan.guarantordata.member_name}}</span>
								</b>
							</p>
							<h2 id="item_font_2"> </h2>

							<p>
								<span class="{{font}}"> {{titledata[4]}}</span>
							</p>
							<p>
								<b>
									<span class="{{font}}"> {{loan.loandata.loanAppliedDate}}</span>
								</b>
							</p>
						</ion-col>

						<ion-col col-2 align="center">
							<button id="button_arrow_right"></button>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-item-group>
		</div>

		<ion-item *ngIf="ExitLoan ==0">
			<div class="Nodata">
				<span class="{{font}}">
					<b> {{titledata[5]}}</b>
				</span>
			</div>
		</ion-item>
	</ion-card>
	<ion-infinite-scroll *ngIf="checkScroll" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>