page-laws {
  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0% !important;
  }
  ion-avatar {
    min-width: 4.2rem !important;
    min-height: 4.2rem !important;
    width: 4.2rem !important;
    height: 4.2rem !important;
    margin: 0px !important;
  }
  ion-item {
    border-bottom: 1px solid #dedede !important;
  }
  .item-inner {
    border-bottom: 0px solid #dedede !important;
    padding-left: 11px !important;
  }
  ion-label {
    margin: 10px 8px 10px 0 !important;
  }
  .item-md:first-child {
    padding: 0px 10px 5px 10px !important;
  }
  .item-md {
    padding: 10px;
  }
}
